.addthis_toolbox a {
    margin: 0;
}

.addthis_toolbox a > span {
    display: none;
}

.addthis_toolbox .at300b {
    display: block !important;
    margin: 10px 10px 10px 0 !important;
    padding: 0 !important;
    width: 32px !important;
    height: 31px !important;
}

.addthis_button_odnoklassniki_ru {
    background: url('../images/addthis/odnoklassniki.png') no-repeat;
}

.addthis_button_vk {
    background: url('../images/addthis/vk.png') no-repeat;
}

.addthis_button_facebook {
    background: url('../images/addthis/facebook.png') no-repeat;
}

.addthis_button_twitter {
    background: url('../images/addthis/twitter.png') no-repeat;
}

.addthis_button_email {
    background: url('../images/addthis/mail.png') no-repeat;
}

.addthis_toolbox .addthis_button_email.at300b {
    margin: 10px 0 !important; 
}

