/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/**
 * General styles
 */

body {
    font-size: 14px;
    font-family: 'PTSans', sans-serif;
    line-height: 1.3;
    margin-top: 52px;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

a {
    color: #D11F26;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* mobile grid styles (see mobile-alpha.css) */
.grid-1,
.grid-2,
.grid-3,
.grid-4 {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
}

.container-4 .block .omega-grid {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}

/* field styles */
input {
    max-width: 100%;
}

/* pager styles */
.item-list .pager {
    margin-top: 35px;
    margin-bottom: 8px;
}

.item-list .pager li {
    display: inline-block;
    margin: 0 5px;
    padding: 8px 0;
}

.item-list .pager a,
.item-list .pager .pager-current {
    padding: 5px 1em 6px 1em;
    border-width: 0;
    border-radius: 5px;
    text-align: center;
    text-shadow: none;
    font-family: 'PTSans', sans-serif;
    font-size: 1.05em;
    font-weight: normal;
    color: #FFFFFF;
}

.item-list .pager a {
    background-color: #000000;
}

.item-list .pager-load-more .pager-next {
    display: block;
    margin: 0;
    padding: 0;
}

.item-list .pager-load-more a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}

.item-list .pager a:hover,
.item-list .pager a:active,
.item-list .pager .pager-current {
    background-color: #262626;
    text-decoration: none;
    cursor: pointer;
}


/* button styles */
.more-link a,
.button-black a,
.button-red a,
input[type="submit"] {
    padding: 5px 1em 6px 1em;
    border-width: 0;
    border-radius: 5px;
    text-align: center;
    text-shadow: none;
    font-family: 'PTSans', sans-serif;
    font-size: 1.05em;
    font-weight: normal;
    color: #FFFFFF;
}

.more-link a,
.button-black a,
.button-red a {
    display: block;
    margin: 0 auto 8px auto;
    width: 120px;
}

.more-link a,
.button-black a {
    background-color: #000000;
}

.button-red a,
input[type="submit"] {
    background: none;
    background-color: #671A1D;
}

.more-link a:hover,
.more-link a:active,
.button-black a:hover,
.button-black a:active {
    background-color: #262626;
    text-decoration: none;
    cursor: pointer;
}

.button-red a:hover,
.button-red a:active,
input[type="submit"]:hover,
input[type="submit"]:active {
    background-color: #741E21;
    text-decoration: none;
}


/* rating icon styles */
.rate-fivestar-btn-filled {
    background: url('/sites/default/files/default_images/rating-icon.png') no-repeat 0 -14px;
    width: 15px;
    height: 14px;
    margin-left: 2px;
}

.rate-fivestar-btn-empty {
    background: url('/sites/default/files/default_images/rating-icon.png') no-repeat 0 -28px;
    width: 15px;
    height: 14px;
    margin-left: 2px;
}


/*
 * General Header styles
 */

.zone-header-wrapper {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 52px;
    background-color: #231F20;
}

.zone-header {
    background-color: #FFFFFF;
}

.region-header-inner {
    position: relative;
    height: 50px;
}

/* login blocks */
.block-15,
.block-27 {
    display: none;
}

/* search block */
.block-custom-search-blocks-1 {
    display: none;
}

/* logo block */
.block-8 {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 175px;
    height: 29px;
}

.img-logo {
    width: 100%;
    height: 100%;
}


/* date block */
.block-16 {
    display: none;
}


/* currency block */
.block-bel-currency {
    display: none;
}


/* weather block */
.block-local-weather {
    display: none;
}


/* social icons block */
.block-3 {
    display: none;
}

/* mobile search button block */
.block-block-62 {
    position: absolute;
    top: 0;
    right: 35px;
}

.block-block-62 img {
    width: 20px;
    margin: 15px;
}

/* admin menu */
html body.admin-menu {
    margin-top: 52px !important;
}

/* mobile menu button block */
.mobile-navigation-menu {
    display: none;
}

.main-menu {
    height: 0;
}

.block-menu-mobile-anonymous-mobile,
.block-menu-mobile-registered-mobile {
    position: absolute;
    top: 0;
    right: -15px;
}

.mobile-menu-outer-wrapper {
    max-width: 240px;
}

.mobile-menu-inner {
    height: 100%;
}

.menu-mobile-anonymous_mobile .mobile-menu-body {
    min-height: 640px;
}

.menu-mobile-registered_mobile .mobile-menu-body {
    min-height: 680px;
}

.mobile-menu-item-text {
    list-style: none outside none;    
    margin: 0;
}

.mobile-menu-item-text a {
    display: block;
    padding: 10px 30px;
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.mobile-menu-item-text a:hover,
.mobile-menu-item-text a:active {
    text-decoration: none;
    color: #AEAEAE;
}

.mobile-menu-item-text-first {
    margin-top: 70px;
}

.mobile-menu-item-text-last {
    margin-bottom: 20px;
}

.mobile-menu-item-text-delimiter {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #4D4D4D;
}

.mobile-menu-container-icons {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 0 20px 30px;
    width: 180px;
}

.mobile-menu-item-icon {
    display: inline-block;
    margin: 0 10px 10px 0;
}

.mobile-menu-item-icon a {
    width: 31px;
    height: 31px;
}

.mobile-menu-item-viber a {
    content: url('/sites/default/files/icons/social/viber.svg');
} 

.mobile-menu-item-instagram a {
    content: url('/sites/default/files/icons/social/instagram.svg');
}

.mobile-menu-item-ok a {
    content: url('/sites/default/files/icons/social/ok.svg');
}

.mobile-menu-item-vk a {
    content: url('/sites/default/files/icons/social/vk.svg');
}

.mobile-menu-item-twitter a {
    content: url('/sites/default/files/icons/social/twitter.svg');
}

.mobile-menu-item-facebook a {
    content: url('/sites/default/files/icons/social/facebook.svg');
}

.mobile-menu-item-rss a {
    content: url('/sites/default/files/icons/social/rss.svg');
}

.mobile-menu-item-email a {
    content: url('/sites/default/files/icons/social/mail.svg');
}


/*
 * General Menu styles
 */

.zone-menu-wrapper {
    display: none;
}


/**
 * General Content styles
 */

.zone-content {
    padding: 15px 0;
}

#page-title {
    margin-bottom: 20px;
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    line-height: 115%;
    color: #671A1D;
}

.block-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'PTSans Caption', sans-serif;
    font-weight: bold;
    color: #671A1D;
    letter-spacing: 0.03em;
}

ul.tabs li {
    display: inline-block;
    margin-bottom: 20px;
}

ul.tabs li a {
    width: 120px;
    padding: 5px 1em 6px 1em;
    border-radius: 5px;
    text-align: center;
    font-family: 'PTSans', sans-serif;
    font-size: 1.05em;
    color: #FFFFFF;
    background-color: #000000;
}

ul.tabs li a:hover,
ul.tabs li a:active,
ul.tabs li.active a {
    background-color: #262626;
    text-decoration: none;
}

/* content banner */
.block-block-61 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #DBDBDB;
}

.page-node .block-61,
.page-taxonomy .block-61 {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #DBDBDB;
}

.context-testshtml .block-61 {
    padding-top: 0;
    margin-top: 0;
    border-top: none;
}

/* sidebar banner #1 */
.block-42 {
    margin-bottom: 20px;
}

/* sidebar banner #2 */
.block-41 {
    margin-bottom: 20px;
}


/**
 * General Preview styles
 */

.zone-preview-wrapper {
    display: none;
}

/**
 * General Footer styles
 */

.zone-footer-wrapper {
    background-color: #505050;
}

.zone-footer {
    padding: 30px 0;
    color: #A8A8A8;
}

.zone-footer a {
    color: #A8A8A8;
}

.zone-footer a:hover {
    text-decoration: none;
    color: #FFFFFF;
}


/* menu blocks */
.region-footer-first-inner {
    margin-bottom: 10px;
}

.region-footer-first-inner li {
    margin-bottom: 0.5em;
}

.block-menu-geografic,
.block-menu-additional-menu,
.block-menu-old,
.block-menu-system {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-bottom: 10px;
}


/* legal info block */
.legal-info p {
    margin-bottom: 0.3em;
}


/**
 * General Views styles
 */

/* media grid block */
.block-media-grid .view-header {
    margin-bottom: 15px;
}

.block-media-grid .header-title {
    margin-right: 1em;
    text-transform: uppercase;
    font-family: 'PTSans Caption', sans-serif;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: #671A1D;
}

.block-media-grid .header-more {
    letter-spacing: 0.01em;
}

.block-media-grid .views-row {
    margin-bottom: 35px;
}

.block-media-grid .media-photo {
    margin-bottom: 15px;
}

.block-media-grid .media-photo img {
    width: 100%;
    max-width: 100%;
}

.block-media-grid .media-statistics {
    margin-bottom: 10px;
    font-size: 0.85em;
    color: #8B9298;
}

.block-media-grid .media-statistics img {
    margin-right: 0.3em;
    vertical-align: middle;
}

.block-media-grid .media-statistics .views-count {
    margin-right: 1em;
}

.block-media-grid .media-title {
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 0.02em;
}

.block-media-grid .media-title a {
    color: #000000;
}

.block-media-grid .media-title a:hover {
    text-decoration: none;
    color: #555555;
}

/* media grid page */
.page-media-grid {
    margin-bottom: 50px;
}

.page-media-grid .views-row {
    margin-bottom: 35px;
}

.page-media-grid .media-photo {
    margin-bottom: 15px;
}

.page-media-grid .media-photo img {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.page-media-grid .media-statistics {
    margin-bottom: 10px;
    font-size: 0.85em;
    color: #8B9298;
}

.page-media-grid .media-statistics img {
    margin-right: 0.3em;
    vertical-align: middle;
}

.page-media-grid .media-statistics .views-count {
    margin-right: 1em;
}

.page-media-grid .media-title {
    margin-bottom: 20px;
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 0.02em;
}

.page-media-grid .media-title a {
    color: #000000;
}

.page-media-grid .media-title a:hover {
    text-decoration: none;
    color: #555555;
}

.page-media-grid .media-field {
    margin-bottom: 5px;
    font-size: 1.15em;
}

.page-media-grid .media-label {
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
}

.page-media-grid .item-list .pager-next {
    margin: 0;
    padding: 0;
}

/* filtered table page */
.page-filtered-table {
    margin-bottom: 50px;
}

.page-filtered-table .view-header {
    padding-bottom: 20px;
    border-bottom: 1px dashed #DBDBDB;
    margin-bottom: 15px;
}

.page-filtered-table .view-filters {
    margin-bottom: 10px;
}

.page-filtered-table .views-exposed-form .views-exposed-widgets {
    margin-bottom: 0;
}

.page-filtered-table .views-exposed-form .views-exposed-widget {
    padding: 0 20px 20px 0;
}

.page-filtered-table .views-exposed-form .views-exposed-widget label {
    margin-bottom: 10px;
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
    font-size: 1.15em;
}

.page-filtered-table .views-esposed-form .form-item {
    font-family: 'PTSans', sans-serif;
}

.page-filtered-table .views-exposed-form .form-text {
    width: 100%;
    height: 35px;
}

.page-filtered-table .views-exposed-form .form-select {
    width: 100%;
    height: 35px;
    color: #8B9298;
    background: url('../images/select-arrow.gif') no-repeat right;
}

.page-filtered-table .views-exposed-form .form-select option {
    color: #000000;
}

.page-filtered-table .views-exposed-form .views-submit-button {
    padding-right: 15px;
}

.page-filtered-table .views-exposed-form .views-reset-button {
    padding-right: 0;
}

.page-filtered-table .views-exposed-form .form-submit {
    width: 97px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-top: 0;
    text-align: center;
    text-shadow: none;
    font-family: 'PTSans', sans-serif;
    font-weight: normal;
    font-size: 1.05em;
    color: #FFFFFF;
    background: none;
    background-color: #000000;
}

.page-filtered-table .views-exposed-form .form-submit:hover {
    background-color: #262626;
    cursor: pointer;
}

.page-filtered-table .view-content {
    padding: 20px;
    background-color: #F9F9F9;
}

.page-filtered-table table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.page-filtered-table .view-content thead {
    font-family: 'PTSans Caption', sans-serif;
    color: #959595;
}

.page-filtered-table .view-content th {
    padding-bottom: 10px;
    vertical-align: middle;
}

.page-filtered-table .view-content tbody tr {
    background-color: #FFFFFF;
}

.page-filtered-table .view-content tbody tr:hover,
.page-filtered-table .view-content tbody tr:active {
    background-color: #EFEFEF;
}

.page-filtered-table .view-content tbody td {
    vertical-align: middle;
    overflow: hidden;
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
    font-size: 1.15em;
}

.page-filtered-table .item-list {
    background-color: #F9F9F9;
}

.page-filtered-table .view-empty {
    margin-bottom: 10px;
    padding: 20px 50px;
    background-color: #FFCCCB;
}

.page-filtered-table .item-list .pager-load-more {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 35px;
    padding-bottom: 20px;
}

/* list page */
.page-list {
    margin-bottom: 50px;
}

.page-list .views-row {
    margin-bottom: 30px;
    position: relative;
    overflow: auto;
}

.page-list .list-photo {
    margin-bottom: 15px;
}

.page-list .list-photo img {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.page-list .list-title {
    margin-bottom: 10px;
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 0.02em;
}

.page-list .list-title a {
    color: #000000;
}

.page-list .list-title a:hover {
    text-decoration: none;
    color: #555555;
}

.page-list .list-description {
    margin-bottom: 10px;
}

.page-list .list-description ul {
    list-style-position: inside;
}

.page-list .list-description li {
    margin-bottom: 5px;
}

.page-list .view-empty {
    margin-bottom: 10px;
    padding: 20px 50px;
    background-color: #FFCCCB;
}

/* filtered list page */
.page-filtered-list .view-header {
    padding-bottom: 20px;
    border-bottom: 1px dashed #DBDBDB;
    margin-bottom: 15px;
}

.page-filtered-list .view-filters {
    padding-bottom: 15px;
    border-bottom: #DBDBDB 1px solid;
    margin-bottom: 30px;
}

.page-filtered-list .views-exposed-form .views-exposed-widgets {
    margin-bottom: 0;
}

.page-filtered-list .views-exposed-form .views-exposed-widget {
    padding: 0 20px 20px 0;
}

.page-filtered-list .views-exposed-form .views-exposed-widget label {
    margin-bottom: 10px;
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
    font-size: 1.15em;
}

.page-filtered-list .views-exposed-form .views-submit-button {
    padding-right: 15px;
}

.page-filtered-list .views-exposed-form .views-reset-button {
    padding-right: 0;
}

.page-filtered-list .views-esposed-form .form-item {
    font-family: 'PTSans', sans-serif;
}

.page-filtered-list .views-exposed-form .form-text {
    width: 100%;
    height: 35px;
}

.page-filtered-list .views-exposed-form .form-select {
    width: 100%;
    height: 35px;
    color: #8B9298;
    background: url('../images/select-arrow.gif') no-repeat right;
}

.page-filtered-list .views-exposed-form .form-select option {
    color: #000000;
}

.page-filtered-list .views-exposed-form .form-submit {
    width: 97px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-top: 0;
    text-align: center;
    text-shadow: none;
    font-family: 'PTSans', sans-serif;
    font-weight: normal;
    font-size: 1.05em;
    color: #FFFFFF;
    background: none;
    background-color: #000000;
}

.page-filtered-list .views-exposed-form .form-submit:hover {
    background-color: #262626;
    cursor: pointer;
}

/* static grid page */
.page-static-grid {
    overflow: auto;
}

.page-static-grid .views-row {
    float: left;
    width: 135px;
    height: 200px;
    margin: 0 30px 35px 0;
}

.page-static-grid .static-pic {
    margin-bottom: 25px;
    text-align: center;
}

.page-static-grid .static-pic img {
    width: 135px;
    height: 135px;
}

.page-static-grid .static-title {
    text-align: center;
}

.page-static-grid .static-title a {
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: #959595;
}


/**
 * Custom Main Page styles
 */

/* main news */
.page-main .block-main {
    margin-bottom: 20px;
}

.page-main-news > .view-content {
    background-color: #F3F3F3;
}

.page-main-news .main-photo {
    margin-bottom: 20px;
}

.page-main-news .main-photo img {
    width: 100%;
    max-width: 100%;
}

.page-main-news .main-statistics {
    margin: 0 15px 15px 15px;
    font-size: 0.85em;
    color: #8896A0;
}

.page-main-news .main-statistics img {
    margin-right: 0.3em;
}

.page-main-news .main-statistics .views-count {
    margin-right: 1em;
}

.page-main-news .main-title {
    margin: 0 15px;
    padding-bottom: 15px;
    overflow: hidden;
}

.page-main-news .main-title a {
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #000000;
    letter-spacing: 0.01em;
}

.page-main-news .main-title a:hover {
    text-decoration: none;
    color: #555555;
}

/* last news */
.block-aposhnija-naviny-block-2 {
    margin-bottom: 20px;
}

.block-aposhnija-naviny-block-2 .block-inner {
    border: 1px solid #DBDBDB;
    padding: 20px;
}

#block-views-aposhnija-naviny-block-3 .block-inner {
	border: 1px solid #dbdbdb;
	padding: 20px
}

#block-views-aposhnija-naviny-block-3{
	margin-bottom: 20px;
}

/* main page banners */
.block-block-57 {
    display: none;
}

.block-block-58 {
    margin-bottom: 20px;
}

.block-svaboda {
    display: none;
}

/* sidebar abvestki */
.block-ads-block-1 {
    margin-bottom: 20px;
}

.block-ads-block-1 .block-inner {
    border: 1px solid #DBDBDB;
    padding: 20px;
}

.block-abvestki .view-content {
    margin-bottom: 25px;
}

.block-abvestki h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'PTSans Caption', sans-serif;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: #B5221C;
}

.block-abvestki ul {
    margin: 0;
}

.block-abvestki li.views-row {
    margin: 0 0 0 1.2em;
    list-style: disc;
}

.block-abvestki .views-field-title {
    margin-bottom: 10px;
}

.block-abvestki .views-field-title a {
    font-size: 1.05em;
    letter-spacing: 0.01em;
    color: #000000;
}

/* sidebar last comments */
.block-last-comments-block-last {
    margin-bottom: 20px;
}

.block-last-comments-block-last .block-inner {
    border: 1px solid #DBDBDB;
    padding: 20px;
}

.block-last-comments .view-content {
    margin-bottom: 25px;
}

.block-last-comments .views-row {
    padding-bottom: 15px;
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 15px;
}

.block-last-comments .views-row-last {
    padding-bottom: 0;
    border-bottom: none;
}

.block-last-comments .last-comments-author-avatar {
    margin-right: 0.5em;
}

.block-last-comments .last-comments-author-name {
    display: inline-block;
    margin-bottom: 4px;
}

.block-last-comments .last-comments-author-name a {
    color: #8B9298;
}

.block-last-comments .views-field-comment-body {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.block-last-comments .views-field-comment-body a {
    font-family: 'PTSerif', serif;
    font-size: 1.15em;
    color: #000000;
}

.block-last-comments .views-field-title a {
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}


/**
 * Custom Inner views styles
 */

/* search page */
.page-search .block-main .content > ul {
    padding: 20px 50px;
    margin-bottom: 10px;
    background-color: #FFCCCB;
}

.page-search .block-main .content > h2 {
    display: none;
}

.page-search .block-main .search-form {
    margin-bottom: 30px;
    border-bottom: #DBDBDB 1px solid;
}

.page-search .block-main .form-wrapper {
    overflow: auto;
    padding-bottom: 15px;
}

.page-search .block-main .form-item-keys {
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
}

.page-search .block-main .form-item-keys label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.15em;
}

.page-search .block-main .form-item-keys #edit-keys {
    display: block;
    width: 100%;
    height: 35px;
}

.page-search .block-main #edit-submit {
    display: block;
    width: 97px;
    height: 35px;
    margin: 30px 0 20px 0;
}

.search-results {
    list-style-type: none;
}

.search-results li {
    margin-bottom: 30px;
}

.search-results .title {
    margin-bottom: 10px;
    font-family: 'PTSans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: .02em;
}

.search-results .title a {
    color: #000;
}

.search-results .title a:hover {
    color: #555;
    text-decoration: none;
}

.search-results .search-snippet-info {
    padding-left: 1em;
}

.search-results .search-info {
    font-size: 0.85em;
}


/* abvestki page */
.page-abvestki .view-header a {
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

.page-abvestki .views-exposed-form .views-widget-filter-field_ads_placement_tid,
.page-abvestki .views-exposed-form .views-widget-filter-field_ads_type_tid,
.page-abvestki .views-exposed-form .views-widget-filter-field_ads_topic_tid,
.page-abvestki .views-exposed-form .views-widget-filter-title {
    width: 100%;
}

.page-abvestki .views-exposed-form #edit-submit-ads {
    background-color: #671A1D;
}

.page-abvestki .views-exposed-form #edit-submit-ads:hover {
    background-color: #741E21;
}

.page-abvestki .view-content th.views-field-title {
    padding-left: 5%;
    padding-right: 5%;
}

.page-abvestki .filtered-table-photo {
    width: 100px;
}

.page-abvestki .filtered-table-photo a {
    display: block;
    margin: -100px 0;
    width: 100%;
    padding: 100px 0;
}

.page-abvestki .filtered-table-title {
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    vertical-align: middle;
    padding: 10px 0;
}

.page-abvestki .filtered-table-title a {
    display: block;
    margin: -100px 0;
    width: 86%;
    padding: 100px 7%;
    letter-spacing: 0.02em;
    color: #000000;
}

.page-abvestki .filtered-table-title a:hover,
.page-abvestki .filtered-table-title a:active {
    text-decoration: none;
    color: #555555;
}

.page-abvestki .filtered-table-price {
    width: 17%;
    padding: 10px 0;
    border-top: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
}

.page-abvestki .filtered-table-price a {
    display: block;
    margin: -100px 0;
    width: 70%;
    padding: 100px 30% 100px 0;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #671A1D;
}

/* uzgorak page */
.page-uzgorak {
    margin-bottom: 50px;
}

.page-uzgorak .uzgorak-title {
    margin-bottom: 10px;
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 0.02em;
}

.page-uzgorak .uzgorak-title a {
    color: #000000;
}

.page-uzgorak .uzgorak-title a:hover {
    text-decoration: none;
    color: #555555;
}

.page-uzgorak .uzgorak-description ul {
    list-style-position: inside;
}

.page-uzgorak .uzgorak-description li {
    margin-bottom: 5px;
}

.page-uzgorak .uzgorak-links a {
    margin-left: 1.4em;
}

.attachment-uzgorak .description {
    font-family: 'PTSerif', serif;
    font-size: 1.2em;
    line-height: 150%;
    margin-bottom: 30px;
}

.attachment-uzgorak .description strong {
    font-family: 'PTSans', sans-serif;
}

.attachment-uzgorak .uzgorak-description {
    margin-bottom: 15px;
    font-size: 1.1em;
}

.attachment-uzgorak .views-field-field-pdf {
    margin-bottom: 15px;
}

.attachment-uzgorak .views-field-field-pdf #pdf_reader {
    height: 480px; /* ~360 * sqrt(2) */
}

.attachment-uzgorak .uzgorak-links {
    margin-bottom: 15px;
}

.page-uzgorak > .view-content .views-row {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: #DBDBDB 1px solid;
}

.page-uzgorak > .view-content .views-row-last {
    padding-bottom: 0;
}

.page-uzgorak > .view-content .uzgorak-photo {
    margin: 0 auto 15px auto;
    width: 170px;
}

.page-uzgorak > .view-content .uzgorak-description {
    margin-bottom: 10px;
}

/* companies page */
.page-companies .view-header a {
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

.page-companies .views-exposed-form .views-widget-filter-combine,
.page-companies .views-exposed-form .views-widget-filter-field_company_section_tid,
.page-companies .views-exposed-form .views-widget-filter-field_geotargeting_tid {
    width: 100%;
}

.page-companies .views-exposed-form #edit-submit-catalog-company {
    background-color: #671A1D;
}

.page-companies .views-exposed-form #edit-submit-catalog-company:hover {
    background-color: #741E21;
}

.page-companies .company-rate {
    display: block;
    margin-bottom: 10px;
}

.page-companies .company-rate ul {
    margin: 0;
}

.page-companies .item-list .pager-next a {
    width: 200px;
}

/* news blocks */
.block-aposhnija-naviny-block-1,
.block-aposhnija-naviny-block-3 {
    margin-bottom: 20px;
}

.block-aposhnija-naviny-block-1 .block-inner,
.block-aposhnija-naviny-block-3 .block-inner {
    border: 1px solid #DBDBDB;
    padding: 20px;
}

.block-news .view-content {
    margin-bottom: 25px;
}

.block-news .views-row {
    padding-bottom: 15px;
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 15px;
}

.block-news .views-row-last {
    padding-bottom: 0;
    border-bottom: none;
}

.block-news .last-date {
    float: left;
    margin-top: 2px;
    margin-right: 0.5em;
    font-family: 'PTSans Caption', sans-serif;
    font-weight: bold;
    color: #B5221C;
}

.block-news .last-title a {
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
    font-size: 1.15em;
    letter-spacing: 0.01em;
    color: #000000;
}

.block-news .last-title a:hover {
    text-decoration: none;
    color: #555555;
}

/* map of local problems */
.page-problems .block-openlayers-plus {
    margin-bottom: 20px;
}

.page-problems .layers-title {
    display: none;
}

.page-problems .layers-content .form-item {
    display: inline-block;
    margin: 0 2em 0 0;
}

.page-problems .layers-content .form-checkbox {
    margin-right: 0.5em;
}

.page-problems .layers-content label.option {
    font-size: 1.15em;
    font-weight: bold;
}

.page-problems .layers-content .form-item:nth-child(1) label {
    color: #338344;
}

.page-problems .layers-content .form-item:nth-child(2) label {
    color: #671A1D;
}

.page-problems .block-main {
    margin-bottom: 20px;
}

.page-problems .block-local-problems-block-4 .block-title {
    color: #338344;
}

.page-problems .block-knowledge-base-block-1 .block-title {
    color: #000000;
}

.page-map-local-problems .problem-title, .openlayers-popup .views-field-title {
    font-size: 1.1em;
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
}

/* problems blocks */
.block-local-problems-block-1,
.block-local-problems-block-3,
.block-local-problems-block-4 {
    margin-bottom: 20px;
}

.block-local-problems-block-1 .block-inner,
.block-local-problems-block-3 .block-inner,
.block-local-problems-block-4 .block-inner {
    border: 1px solid #DBDBDB;
    padding: 20px;
}

.block-local-problems .view-content {
    margin-bottom: 25px;
}

.block-local-problems .views-row {
    margin-bottom: 10px;
}

.block-local-problems .views-field-field-taxonomy-pic {
    margin-right: 10px;
}

.block-local-problems .views-field-title {
    width: 75%;
    min-width: 200px;
}

.block-local-problems .views-field-field-taxonomy-pic,
.block-local-problems .views-field-title {
    display: inline-block;
    vertical-align: middle;
}

.block-local-problems .views-field-title a {
    font-size: 1.05em;
    letter-spacing: 0.01em;
    color: #000000;
}

/* solutions block */
.block-knowledge-base-block-1 {
    margin-bottom: 20px;
}

.block-knowledge-base-block-1 .block-inner {
    border: 1px solid #DBDBDB;
    padding: 20px;
}

.block-local-solutions .view-content {
    margin-bottom: 25px;
}

.block-local-solutions h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'PTSans Caption', sans-serif;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: #B5221C;
}

.block-local-solutions ul {
    margin: 0;
}

.block-local-solutions li.views-row {
    margin: 0 0 0 1.2em;
    list-style: disc;
}

.block-local-solutions .views-field-title {
    margin-bottom: 10px;
}

.block-local-solutions .views-field-title a {
    font-size: 1.05em;
    letter-spacing: 0.01em;
    color: #000000;
}

/* map of old streets */
.page-places .block-main {
    margin-bottom: 20px;
}

.view-map-old-places polyline {
    stroke-width: 8px !important;
}

.view-map-old-places polyline:nth-child(1) {
    stroke: rgb(66, 134, 244) !important;
}

.view-map-old-places polyline:nth-child(2) {
    stroke: rgb(0, 0, 0) !important;
}

.view-map-old-places polyline:nth-child(3) {
    stroke: rgb(155, 244, 65) !important;
}

.view-map-old-places polyline:nth-child(4) {
    stroke: rgb(244, 205, 65) !important;
}

.view-map-old-places polyline:nth-child(5) {
    stroke: rgb(244, 133, 65) !important;
}

.view-map-old-places polyline:nth-child(6) {
    stroke: rgb(244, 91, 65) !important;
}

.view-map-old-places polyline:nth-child(7) {
    stroke: rgb(163, 25, 1) !important;
}

.view-map-old-places polyline:nth-child(8) {
    stroke: rgb(79, 162, 0) !important;
}

.view-map-old-places polyline:nth-child(9) {
    stroke: rgb(0, 153, 161) !important;
}

.view-map-old-places polyline:nth-child(10) {
    stroke: rgb(63, 14, 62) !important;
}

.view-map-old-places polyline:nth-child(11) {
    stroke: rgb(100, 0, 160) !important;

}

.view-map-old-places polyline:nth-child(12){
    stroke: rgb(70, 162, 0) !important;
}

.view-map-old-places polyline:nth-child(13){
    stroke: rgb(244, 66, 241) !important;
}

/* last objects block */
.block-old-places-block {
    margin-bottom: 20px;
}

.block-old-places-block .block-inner {
    border: 1px solid #DBDBDB;
    padding: 20px;
}

.block-old-places .view-content {
    margin-bottom: 25px;
}

.block-old-places .views-row {
    margin-bottom: 10px;
}

.block-old-places .views-field-field-taxonomy-pic {
    margin-right: 10px;
}

.block-old-places .views-field-title {
    width: 75%;
    min-width: 200px;
}

.block-old-places .views-field-field-taxonomy-pic,
.block-old-places .views-field-title {
    display: inline-block;
    vertical-align: middle;
}

.block-old-places .views-field-title a {
    font-size: 1.05em;
    letter-spacing: 0.01em;
    color: #000000;
}


/**
 * Common Inner nodes styles
 */

.page-node .region-content-inner {
    margin-bottom: 25px;
}

.page-node .tabs li {
    display: inline-block;
    margin-bottom: 20px;
}

.node > .content {
    position: relative;
}

.node > .submitted {
    margin-bottom: 30px;
    color: #8B9298;
}

.node .submitted img {
    margin-right: 0.3em;
    vertical-align: middle;
}

.node .submitted .delimiter {
    margin: 0 0.3em;
}

.node .field-name-body,
.node .field-name-field-text {
    margin-bottom: 50px;
}

.node .field-name-body p,
.node .field-name-field-text p,
.node .field-name-body ol,
.node .field-name-field-text ol,
.node .field-name-body ul,
.node .field-name-field-text ul {
    margin-bottom: 25px;
    font-family: 'PTSerif', serif;
    font-size: 1.2em;
    line-height: 150%;
}

.node .field-name-body ol,
.node .field-name-field-text ol,
.node .field-name-body ul,
.node .field-name-field-text ul {
    list-style-position: inside;
}

.node .field-name-body li,
.node .field-name-field-text li {
    margin-bottom: 25px;
}

.node .field-name-body img,
.node .field-name-body iframe,
.node .field-name-field-text img,
.node .field-name-field-text iframe {
    display: block;
    margin: 35px auto;
    max-width: 100%;
}

.node .field-name-body img,
.node .field-name-field-text img {
    height: auto !important;
}

.node .field-name-body picture,
.node .field-name-field-text picture,
.node .field-name-body .caption,
.node .field-name-field-text .caption {
    display: block;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100% !important;
    height: auto !important;
    background-color: #F3F3F3;
}

.node .field-name-body .caption p,
.node .field-name-field-text .caption p {
    padding-top: 25px;
    text-align: center;
    font-family: verdana, sans-serif;
    font-size: 0.75em;
    font-weight: normal;
    color: #959595;
    background-color: #FFFFFF;
}

.node .field-name-body .caption > img,
.node .field-name-field-text .caption > img,
.node .field-name-body picture > img,
.node .field-name-field-text picture > img,
.node .field-name-body .caption > picture,
.node .field-name-field-text .caption > picture {
    margin: 0px auto;
}

.node .field-name-body table,
.node .field-name-field-text table {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    overflow-x: scroll;
}

.node .field-name-body thead,
.node .field-name-field-text thead {
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
    font-size: 1.15em;
    background-color: #DBDBDB;
    color: #4D4D4D;
}

.node .field-name-body th,
.node .field-name-field-text th {
    padding: 20px 10px;
    vertical-align: middle;
}

.node .field-name-body tbody,
.node .field-name-field-text tbody {
    font-family: 'PTSans Caption', sans-serif;
    background-color: #F9F9F9;
    color: #555555;
}

.node .field-name-body tbody p,
.node .field-name-field-text tbody p {
    font-size: 1em;
    font-family: 'PTSans Caption', sans-serif;
}

.node .field-name-body td,
.node .field-name-field-text td {
    border-bottom: 1px dashed #DBDBDB;
    padding: 10px;
}

.node .field-name-body tr:first-child td,
.node .field-name-field-text tr:first-child td {
    padding-top: 20px;
}

.node .field-name-body tr:last-child td,
.node .field-name-field-text tr:last-child td {
    border-bottom: none;
    padding-bottom: 20px
}

.node .field-name-body .text-chapter,
.node .field-name-field-text .text-chapter {
    margin: 75px 0 30px 0;
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
    font-size: 1.85em;
}

.node .field-name-body .text-accent,
.node .field-name-field-text .text-accent {
    margin: 65px 20px;
    text-align: center;
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 150%;
    color: #671A1D;
}

.node .field-name-body .text-signature,
.node .field-name-field-text .text-signature {
    font-family: 'PTSans Caption', sans-serif;
    font-weight: bold;
    color: #8B9298;
}

.node .field-name-field-author {
    margin: -30px 0 50px 0;
    font-family: 'PTSans Caption', sans-serif;
    font-weight: bold;
    color: #8B9298;
}

.node .field-name-field-pdf {
    margin-top: 35px;
    margin-bottom: 35px;
}

.node .field-name-field-pdf #pdf_reader {
    width: 100%;
    height: 320px;
}

.node .field-name-field-photos {
    margin-bottom: 25px;
}

.node .field-name-body .embedded-video,
.node .field-name-field-text .embedded-video {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
}

.node .field-name-body .videoplayer,
.node .field-name-field-text .videoplayer {
    margin: 0;
    width: 100%;
    height: 320px;
}

.node .poll {
    margin-bottom: 35px;
}

.node .group-actions {
    overflow: auto;
    margin-bottom: 10px;
    border-top: 1px solid #DBDBDB;
    padding-top: 10px;
}

.node .group-share {
    float: left;
    overflow: auto;
    margin: 0 50px 0 0;
    vertical-align: middle;
}

.node .group-share > h3 {
    font-family: 'PTSans Caption', sans-serif;
    float: left;
    font-weight: bold;
    margin-top: 15px;
    margin-right: 25px;
}

.node .group-share > .field {
    float: left;
}

.node .group-tags {
    float: left;
    margin: 15px 0 10px 0;
    overflow: auto;
    vertical-align: middle;
}

.node .group-tags > h3 {
    float: left;
    margin-right: 25px;
}

.node .group-tags > .field {
    float: left;
}

.node .group-tags .field-item {
    float: left;
    margin-right: 1.5em;
}

.node .group-tags .field-item a {
    font-family: 'PTSans Caption', sans-serif;
    font-weight: bold;
    color: #959595;
}

/* inner node banners */
.block-block-59 {
    padding-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #DBDBDB;
}

/* similar terms blocks */
.block-similarterms-similar-news,
.block-similarterms-similar-afisha,
.block-similarterms-similar-uzgorak,
.block-similarterms-similar-materials {
    border-top: 1px solid #DBDBDB;
    padding-top: 30px;
}

/* add comment block */
.block-comment-form-block .content {
    padding: 25px 0;
    border-top: 2px solid #000000;
}

.block-comment-form-block .title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'PTSans Caption', sans-serif;
    font-weight: bold;
    color: #671A1D;
}

.comment-form #edit-author--2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.comment-form .text-format-wrapper {
    margin-bottom: 10px;
}

.comment-form .text-format-wrapper .grippie {
    margin-bottom: 10px;
}

.comment-form .text-format-wrapper .counter {
    margin-bottom: 35px;
    color: #8896A0;
}

.comment-form .text-format-wrapper .filter-wrapper {
    display: none;
}

.comment-form .text-format-wrapper .description {
    margin-top: 0;
}

.comment-form .form-item-notify {
    margin-top: 0;
    margin-bottom: 30px;
    color: #8896A0;
}

.comment-form .form-item-notify input {
    margin-right: 0.25em;
}

.comment-form #edit-notify-type {
    margin-top: -20px;
    margin-bottom: 30px;
    color: #8896A0;
}

.comment-form #edit-notify-type input {
    margin-right: 0.15em;
}

.comment-form .form-actions {
    margin: 0;
}

/* login to comment block */
.block-28 .block-inner {
    border-top: 2px solid #000000;
    padding: 25px 0;
}

.block-28 .content {
    color: #8996A0;
}

/* comments block */
.block-comments-block-article {
    margin-bottom: 20px;
}

.block-article-comments .views-row {
    margin-bottom: -1px;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    padding: 20px 0 25px 95px;
    position: relative;
}

.block-article-comments .views-row-first {
    border-top: none;
}

.block-article-comments .views-row-last {
    border-bottom: none;
    padding-bottom: 0;
}

.block-article-comments .comment-depth-1 {
    margin-left: 5%;
}

.block-article-comments .comment-depth-2 {
    margin-left: 10%;
}

.block-article-comments .comment-depth-3 {
    margin-left: 15%;
}

.block-article-comments .comment-depth-4 {
    margin-left: 20%;
}

.block-article-comments .comment-depth-5 {
    margin-left: 25%;
}

.block-article-comments .comment-depth-6 {
    margin-left: 27%;
}

.block-article-comments .comment-depth-7 {
    margin-left: 29%;
}

.block-article-comments .comment-depth-8 {
    margin-left: 31%;
}

.block-article-comments .comment-depth-9 {
    margin-left: 33%;
}

.block-article-comments .comment-depth-10 {
    margin-left: 35%;
}

.block-article-comments .comment-depth-11 {
    margin-left: 37%;
}

.block-article-comments .comment-depth-12 {
    margin-left: 39%;
}

.block-article-comments .comment-depth-13 {
    margin-left: 41%;
}

.block-article-comments .comment-depth-14 {
    margin-left: 43%;
}

.block-article-comments .comment-depth-15 {
    margin-left: 45%;
}

.block-article-comments .comment-depth-16 {
    margin-left: 47%;
}

.block-article-comments .comment-depth-17 {
    margin-left: 49%;
}

.block-article-comments .comment-depth-18 {
    margin-left: 51%;
}

.block-article-comments .comment-depth-19 {
    margin-left: 53%;
}

.block-article-comments .comment-depth-20 {
    margin-left: 55%;
}

.block-article-comments .comment-depth-21 {
    margin-left: 57%;
}

.block-article-comments .comment-depth-22 {
    margin-left: 59%;
}

.block-article-comments .comment-depth-23 {
    margin-left: 61%;
}

.block-article-comments .comment-depth-24 {
    margin-left: 63%;
}

.block-article-comments .comment-depth-25 {
    margin-left: 65%;
}

.block-article-comments .comment-depth-26 {
    margin-left: 67%;
}

.block-article-comments .comment-depth-27 {
    margin-left: 69%;
}

.block-article-comments .comment-depth-28 {
    margin-left: 71%;
}

.block-article-comments .comment-depth-29 {
    margin-left: 73%;
}

.block-article-comments .comment-depth-30 {
    margin-left: 75%;
}

.block-article-comments .comment-author-avatar {
    position: absolute;
    top: 20px;
    left: 0;
}

.block-article-comments .comment-statistics {
    margin-right: 100px;
    margin-bottom: 25px;
}

.block-article-comments .comment-author-name {
    margin-right: 2em;
}

.block-article-comments .comment-author-name a {
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
    font-size: 1.05em;
    color: #000000;
}

.block-article-comments .comment-author-name a:hover,
.block-article-comments .comment-author-name a:active {
    text-decoration: none;
    color: #555555;
}

.block-article-comments .comment-created {
    color: #8996A0;
}

.block-article-comments .rate-widget {
    position: absolute;
    top: 20px;
    right: 0;
}

.block-article-comments .rate-number-up-down-btn-up {
    background: url('/sites/default/files/default_images/rate-up.png');
    width: 17px;
    height: 17px;
    margin: 0;
}

.block-article-comments .rate-number-up-down-btn-down {
    background: url('/sites/default/files/default_images/rate-down.png');
    width: 18px;
    height: 17px;
    margin: 0;
}

.block-article-comments .rate-number-up-down-rating {
    margin: 0 0.5em;
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
}

.block-article-comments .rate-number-up-down-rating.negative {
    color: #B5221C;
}

.block-article-comments .rate-number-up-down-rating.neutral {
    color: #555555;
}

.block-article-comments .rate-number-up-down-rating.positive {
    color: #2B9217;
}

.block-article-comments .comment-body {
    font-size: 1.05em;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-article-comments .comment-actions {
    float: right;
}

.block-article-comments .comment-actions a {
    margin-left: 0.5em;
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
}


/**
 * Custom Inner nodes styles
 */

/* uzgorak node */
.node-uzgorak .field-name-field-pdf #pdf_reader {
    height: 480px; /* ~360 * sqrt(2) */
}

/* company node */
.node-company .rate-widget {
    margin-bottom: 10px;
    width: 110px;
}

.node-company .rate-widget .item-list ul {
    margin-bottom: 10px;
}

.node-company .rate-widget .rate-info {
    font-size: 1em;
    color: #671A1D;
}

.node-company .group-info {
    font-size: 1.2em;
    margin-bottom: 25px;
}

.node-company .group-info .field {
    margin-bottom: 5px;
}

.node-company .group-info .field-label {
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
    margin-right: 0.25em;
}

.node-company .group-info .field-label-above .field-label,
.node-company .group-info .field-label-above .field-items {
    display: inline-block;
    vertical-align: top;
}

/* local problem node */
.node-local-problem .field-name-field-problem-status,
.node-local-problem .field-name-field-address {
    font-size: 1.15em;
    margin-bottom: 20px;
}

.node-local-problem .field-name-field-problem-status .field-item {
    text-transform: lowercase;
}

.node .field-name-field-this-problem-on-map {
    margin-top: 30px;
    margin-bottom: 35px;
}

/* local solution node */
.node-local-solution .group-info {
    font-size: 1.2em;
    margin-bottom: 50px;
}

.node-local-solution .group-info .field {
    margin-bottom: 20px;
}

.node-local-solution .group-info .field-label {
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
    margin-right: 0.25em;
}

.node-local-solution .group-info .field-label-above .field-label,
.node-local-solution .group-info .field-label-above .field-items {
    display: inline-block;
    vertical-align: top;
}

/* ads node */
.node-ads .field-name-field-ads-photo {
    margin-bottom: 25px;
}

.node-ads .field-name-field-ads-photo img {
    width: 100%;
    max-width: 100%;
}

.node-ads .field-name-field-text {
    margin-bottom: 25px;
}

.node-ads .group-info {
    font-size: 1.2em;
    margin-bottom: 50px;
}

.node-ads .group-info .field {
    margin-bottom: 5px;
}

.node-ads .group-info .field-label {
    font-family: 'PTSans', sans-serif;
    font-weight: bold;
    margin-right: 0.25em;
}

.node-ads .group-info .field-label-above .field-label,
.node-ads .group-info .field-label-above .field-items {
    display: inline-block;
    vertical-align: top;
}

/* old place node */
.node .field-name-field-this-place-on-map {
    margin-top: 30px;
    margin-bottom: 35px;
}

/* similar ads block */
.block-similar-ads-block {
    margin-bottom: 20px;
}

.block-similar-ads-block .block-inner {
    border: 1px solid #DBDBDB;
    padding: 20px;
}

/* main guide node */
.context-guidehtml #page-title,
.context-guidehtml .field-name-field-text {
    display: none;
}

/* davedka block*/
.block-davedka {
    margin: 0 auto;
}

.block-davedka .quicktabs-tabs {
    margin-top: 15px;
    margin-bottom: 35px;
}

.block-davedka .quicktabs-tabs li {
    display: inline-block;
    margin: 0 0.5em 10px 0;
    padding: 0;
    text-align: center;
}

.block-davedka .quicktabs-tabs li a {
    display: block;
    padding: 5px 1.2em 6px 1.2em;
    border-radius: 5px;
    font-family: 'PTSans Caption', sans-serif;
    font-size: 1.05em;
    color: #FFFFFF;
    background-color: #000000;
}

.block-davedka .quicktabs-tabs li a:hover,
.block-davedka .quicktabs-tabs li.active a {
    background-color: #262626;
    text-decoration: none;
    cursor: pointer;
}

/* Uzgorak static page styles */
.context-uzgorakhtml #page-title {
    margin-bottom: 35px;
}

/* Weather node styles */
.node .field-name-body .table-weather img {
    margin: 0 auto;
}

/* Disable AddThis for specific nodes */
.page-node-371 .group-actions,
.page-node-622 .group-actions,
.page-node-623 .group-actions,
.page-node-949 .group-actions,
.page-node-1374 .group-actions,
.page-node-1436 .group-actions,
.page-node-1460 .group-actions,
.page-node-2634 .group-actions,
.page-node-2682 .group-actions,
.page-node-2854 .group-actions,
.page-node-7321 .group-actions {
    display: none;
}


/**
 * Common node form styles
 */

.node-form legend {
    font-weight: bold;
}

.node-form .description,
.node-form .fieldset-description {
    font-size: 0.85em;
}


/**
 * Custom node form styles
 */

/* Add local problem form */
.node-local_problem-form .local-problems-help-link {
    font-size: 1.1em;
    font-weight: bold;
}

.node-local_problem-form .form-wrapper {
    margin: 1em 0;
}

.node-local_problem-form #edit-field-text-und-0-format {
    display: none;
}

.node-local_problem-form .vertical-tabs {
    display: none;
}