/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/**
 * General styles
 */

body {
    font-size: 14px;
    font-family: 'PTSans Regular', sans-serif;
    line-height: 1.3;
}

a {
    color: #B5221C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* mobile grid styles (see mobile-alpha.css) */
.grid-1, 
.grid-2, 
.grid-3, 
.grid-4 {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
}

.container-4 .block .omega-grid {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}


/* button styles */
.more-link a,
.button-black a,
.button-red a,
.item-list .pager li a {
    display: block;
    width: 120px;
    margin: 0 auto 8px auto;
    padding: 5px 1em 6px 1em;
    border-radius: 5px;
    text-align: center;
    font-family: 'LiberationSans Regular', sans-serif;
    font-size: 1.05em;
    color: #FFFFFF;
}

.more-link a,
.button-black a,
.item-list .pager li a {
    background-color: #000000;
}

.button-red a {
    background-color: #671A1D;
}

.more-link a:hover,
.more-link a:active,
.button-black a:hover,
.button-black a:active,
.item-list .pager li a:hover,
.item-list .pager li a:active {
    background-color: #181818;
    text-decoration: none;
}

.button-red a:hover,
.button-red a:active {
    background-color: #741E21;
    text-decoration: none;
}


/*
 * General Header Banner styles
 */

.zone-header-banner-wrapper {
    display: none;
}


/*
 * General Header styles
 */

.zone-header-wrapper {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 52px;
    background-color: #231F20;
}

.zone-header {
    background-color: #FFFFFF;
}


.region-header-inner {
    position: relative;
    height: 50px;
}

/* login block */
.block-15 {
    display: none;
}

/* search block */
.block-custom-search-blocks-1 {
    display: none;
}

/* logo block */
.block-8 {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 175px;
    height: 29px;
}

.img-logo {
    width: 100%;
    height: 100%;
}


/* date block */
.block-16 {
    display: none;
}


/* currency block */
.block-bel-currency {
    display: none;
}


/* weather block */
.block-local-weather {
    display: none;
}


/* social icons block */
.block-3 {
    display: none;
}


/* mobile menu button block */
.block-menu-main-mobile {
    position: absolute;
    top: 0;
    right: -15px;
}


/**
 * General Menu styles
 */

.zone-menu-wrapper {
    height: 52px;
}


/**
 * General Content styles
 */

.zone-content {
    padding: 15px 0;
}


/**
 * General Preview styles
 */

.zone-preview-wrapper {
    display: none;
}

/**
 * General Footer styles
 */ 

.zone-footer-wrapper {
    background-color: #505050;
}

.zone-footer {
    padding: 30px 0;
    color: #A8A8A8;
}

.zone-footer a {
    color: #A8A8A8;
}

.zone-footer a:hover {
    text-decoration: none;
    color: #FFFFFF;
}


/* menu blocks */
.region-footer-first-inner {
    margin-bottom: 10px;
}

.region-footer-first-inner li {
    margin-bottom: 0.5em;
}

.block-menu-geografic,
.block-menu-additional-menu,
.block-menu-old,
.block-menu-system {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-bottom: 10px;
}


/* legal info block */
.legal-info p {
    margin-bottom: 0.3em;
}


/**
 * General Views styles
 */

/* media grid block */
.block-media-grid .view-header {
    margin-bottom: 15px;
}

.block-media-grid .header-title {
    margin-right: 1em;
    text-transform: uppercase;
    font-family: 'PTSans Caption Bold', sans-serif;
    font-weight: bold;    
    color: #671A1D;
}

.block-media-grid .views-row {
    margin-bottom: 35px;
}

.block-media-grid .media-photo {
    margin-bottom: 15px;
}

.block-media-grid .media-photo img {
    width: 100%;
    max-width: 100%;
}

.block-media-grid .media-statistics {
    margin-bottom: 10px;
    font-size: 0.85em;
    color: #8896A0;    
}

.block-media-grid .media-statistics img {
    margin-right: 0.3em;
}

.block-media-grid .media-statistics .views-count {
    margin-right: 1em;
}

.block-media-grid .media-title {
    font-family: 'PTSans Bold', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

.block-media-grid .media-title a {
    color: #000000;
}

.block-media-grid .media-title a:hover {
    text-decoration: none;
    color: #555555;
}

/* media grid page */
.page-media-grid {
    margin-bottom: 50px;
}

.page-media-grid .views-row {
    margin-bottom: 35px;
}

.page-media-grid .media-photo {
    margin-bottom: 15px;
}

.page-media-grid .media-photo img {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.page-media-grid .media-statistics {
    margin-bottom: 10px;
    font-size: 0.85em;
    color: #8896A0;    
}

.page-media-grid .media-statistics img {
    margin-right: 0.3em;
}

.page-media-grid .media-statistics .views-count {
    margin-right: 1em;
}

.page-media-grid .media-title {
    font-family: 'PTSans Bold', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

.page-media-grid .media-title a {
    color: #000000;
}

.page-media-grid .media-title a:hover {
    text-decoration: none;
    color: #555555;
}

.page-media-grid .item-list ul {
    margin: 0;
}


.page-media-grid .item-list ul li {
    margin: 0;
    padding: 0;
}

.page-media-grid .item-list ul li a {
    margin-top: 10px;
}

/**
 * Custom Main Page styles
 */

/* main news */
.page-main .block-main {
    margin-bottom: 30px;
}

.page-main-news > .view-content {
    background-color: #F3F3F3;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.page-main-news .main-photo {
    margin-bottom: 20px;
}

.page-main-news .main-photo img {
    width: 100%;
    max-width: 100%;
}

.page-main-news .main-statistics {
    margin: 0 15px 15px 15px;    
    font-size: 0.85em;
    color: #8896A0;    
}

.page-main-news .main-statistics img {
    margin-right: 0.3em;
}

.page-main-news .main-statistics .views-count {
    margin-right: 1em;
}

.page-main-news .main-title {
    margin: 0 15px;
}

.page-main-news .main-title a {
    font-family: 'PTSans Bold', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #000000;
}

.page-main-news .main-title a:hover {
    text-decoration: none;
    color: #555555;
}

/* last news */
.attachment-last-news {
    border: 1px solid #DBDBDB;
    padding: 20px;
}

.attachment-last-news .view-header {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'PTSans Caption Bold', sans-serif;
    font-weight: bold;    
    color: #671A1D;
}

.attachment-last-news .views-row {
    font-size: 1.15em;  
    padding-bottom: 15px;     
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 15px;
}

.attachment-last-news .views-row-last { 
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 20px;
}

.attachment-last-news .last-date {
    float: left;
    margin-right: 0.5em;
    font-family: 'PTSans Caption Bold', sans-serif;
    font-weight: bold;    
    color: #B5221C;
}

.attachment-last-news .last-title a {
    font-family: 'PTSans Bold', sans-serif;
    font-weight: bold;    
    color: #000000;
}

.attachment-last-news .last-title a:hover {
    text-decoration: none;
    color: #555555;
}

/* news by regions */
.block-news-by-regions-block,
.block-news-by-regions-block-1,
.block-news-by-regions-block-2,
.block-news-by-regions-block-3,
.block-news-by-regions-block-4 {
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 15px;
}

.block-news-by-regions-block-5 {
    margin-bottom: 15px;
}

/* sidebar banner #1 */
.block-42 {
    display: none;
}

/* sidebar abvestki */
.block-ads-block-1 {
    margin-bottom: 20px;
}

.block-ads-block-1 .block-inner {
    border: 1px solid #DBDBDB;
    padding: 20px;
}

.block-ads-block-1 .block-title {
    text-transform: uppercase;
    font-family: 'PTSans Caption Bold', sans-serif;
    font-weight: bold;
    color: #671A1D;
}

.block-abvestki .view-content {
    margin-bottom: 25px;
}

.block-abvestki h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'PTSans Caption Bold', sans-serif;
    font-weight: bold;
    color: #B5221C;
}

.block-abvestki .views-field-title {
    margin-bottom: 10px;
}

.block-abvestki .views-field-title a {
    font-size: 1.05em;
    color: #000000;
}

/* sidebar banner #2 */
.block-41 {
    display: none;
}

/* sidebar last comments */
.block-comments-block-block-1 {
    margin-bottom: 20px;
}

.block-comments-block-block-1 .block-inner {
    border: 1px solid #DBDBDB;
    padding: 20px;
}

.block-comments-block-block-1 .block-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'PTSans Caption Bold', sans-serif;
    font-weight: bold;
    color: #671A1D;
}

.block-last-comments .view-content {
    margin-bottom: 25px;
}

.block-last-comments .views-row {
    padding-bottom: 15px;
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 15px;
}

.block-last-comments .views-row-last {
    padding-bottom: 0;
    border-bottom: none;
}

.block-last-comments .last-comments-author-avatar {
    margin-right: 0.5em;
}

.block-last-comments .last-comments-author-name a {
    color: #8B9298;
}

.block-last-comments .views-field-comment-body {
    margin-top: 10px;
    margin-bottom: 10px;
}

.block-last-comments .views-field-comment-body a {
    font-family: 'PTSerif Regular', serif;
    font-size: 1.15em;
    color: #000000;    
}

.block-last-comments .views-field-title a {
    font-family: 'PTSans Bold', sans-serif;
    font-weight: bold;
    font-size: 1.15em;
}


/**
 * Custom Inner views styles
 */

/* sidebar banner #1 */
.block-33 {
    display: none;
}

/* last news */
.block-aposhnija-naviny-block-1 {
    margin-bottom: 20px;
} 

.block-aposhnija-naviny-block-1 .block-inner {
    border: 1px solid #DBDBDB;
    padding: 20px;
}

.block-aposhnija-naviny-block-1 .block-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'PTSans Caption Bold', sans-serif;
    font-weight: bold;    
    color: #671A1D;
}

.block-last-news .view-content {
    margin-bottom: 25px;
}

.block-last-news .views-row {
    font-size: 1.15em;  
    padding-bottom: 15px;     
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 15px;
}

.block-last-news .views-row-last { 
    padding-bottom: 0;
    border-bottom: none;
}

.block-last-news .last-date {
    float: left;
    margin-right: 0.5em;
    font-family: 'PTSans Caption Bold', sans-serif;
    font-weight: bold;    
    color: #B5221C;
}

.block-last-news .last-title a {
    font-family: 'PTSans Bold', sans-serif;
    font-weight: bold;    
    color: #000000;
}

.block-last-news .last-title a:hover {
    text-decoration: none;
    color: #555555;
}

/* sidebar banner #2 */
.block-56 {
    display: none;
}

