/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

/*
 * General Header Banner styles
 */


/*
 * General Header styles
 */

.region-header-inner {
    height: 115px;
}

/* logo block */
.block-8 {
    bottom: 27px;
}

/* date block */
.block-16 {
    bottom: 25px;
    left: 375px;
}


/* currency block */
.block-bel-currency {
    bottom: 25px;
    left: 523px;
}


/* weather block */
.block-local-weather {
    bottom: 25px;
    left: 750px;
}


/**
 * General Menu styles
 */

.main-menu li > a {
    font-size: 1.15em;
    padding: 10px 25px;
}


/**
 * General Content styles
 */


/**
 * General Preview styles
 */

.zone-preview-wrapper {
    display: block;
    background-color: #231F20;
}

.zone-preview {
    padding: 15px 0;
}

.zone-preview a {
    color: #FFFFFF;
}

.zone-preview a:hover {
    text-decoration: none;
    color: #AEAEAE;
}

/* photoblog block */
.block-photoblog-block {
    float: left;
    width: 588px;
}

.block-photoblog-block .views-row {
    width: 282px;
    margin: 15px 24px 30px 0;
    float: left;
}

.block-photoblog-block .views-row-last {
    margin-right: 0;
}

.block-photoblog-block .view-header {
    font-family: 'PTSans Caption Regular', sans-serif;
}

.block-photoblog-block .views-field-field-pics {
    margin-bottom: 20px;
}

.block-photoblog-block .views-field-title {
    font-family: 'PTSans Bold', sans-serif;
    font-size: 1.5em;
}


/* videoblog block */
.block-videoblog-block {
    float: left;
    width: 588px;
}

.block-videoblog-block .views-row {
    width: 282px;
    margin: 15px 24px 30px 0;
    float: left;
}

.block-videoblog-block .views-row-last {
    margin-right: 0;
}

.block-videoblog-block .view-header {
    font-family: 'PTSans Caption Regular', sans-serif;
}

.block-videoblog-block .views-field-field-video {
    margin-bottom: 20px;
}

.block-videoblog-block .views-field-title {
    font-family: 'PTSans Bold', sans-serif;
    font-size: 1.5em;
}


/**
 * General Footer styles
 */ 

/* menu blocks */
.region-footer-first-inner {
    margin-bottom: 0;
}

.block-menu-geografic,
.block-menu-additional-menu,
.block-menu-old {
    width: 129px;
    margin-right: 24px;
}

.block-menu-system {
    width: 129px;
    margin-right: 0;
}

/**
 * Custom Main Page styles
 */

