/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */


/*
 * General Header Banner styles
 */


/*
 * General Header styles
 */


.region-header-inner {
    height: 135px;
}

/* logo block */
.block-8 {
    bottom: 57px;
}


/* date block */
.block-16 {
    left: 0px;
}


/* currency block */
.block-bel-currency {
    left: 188px;
}


/**
 * General Menu styles
 */

.main-menu li > a {
    padding: 10px 11px;
}



/**
 * General Content styles
 */

#region-sidebar-fourth {
    display: none;
}


/**
 * General Preview styles
 */


/**
 * General Footer styles
 */ 

/* menu blocks */
.block-menu-geografic,
.block-menu-additional-menu,
.block-menu-old,
.block-menu-system {
    width: 25%;

}


/**
 * Custom Main Page styles
 */


/**
 * Custom Inner views styles
 */

/* companies page */
.page-companies .views-exposed-form .views-widget-filter-combine {
    width: 205px;
}


/**
 * Common Inner nodes styles
 */

.node .field-name-body picture,
.node .field-name-body .caption,
.node .field-name-body .embedded-video,
.node .field-name-field-text picture,
.node .field-name-field-text .caption,
.node .field-name-field-text .embedded-video {
    width: 894px !important;
}

.node .field-name-body .videoplayer,
.node .field-name-field-text .videoplayer {
    height: 558px;
}



