/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

/*
 * General Header Banner styles
 */


/*
 * General Header styles
 */

.region-header-inner {
    height: 115px;
}


/* date block */
.block-16 {
    position: absolute;
    bottom: 25px;
    left: 375px;
}


/* currency block */
.block-bel-currency {
    position: absolute;
    bottom: 25px;
    left: 510px;
}


/* weather block */
.block-local-weather {
    position: absolute;
    bottom: 25px;
    left: 730px;
}


/**
 * General Menu styles
 */


/**
 * General Content styles
 */


/**
 * General Preview styles
 */

.zone-preview-wrapper {
    display: block;
}


/* Photoblog block */
.block-photoblog-block {
    float: left;
    width: 588px;
}

.block-photoblog-block .views-row {
    width: 282px;
    margin: 15px 24px 40px 0;
    float: left;
}

.block-photoblog-block .views-row-last {
    margin-right: 0;
}


/* Videoblog block */
.block-videoblog-block {
    float: left;
    width: 588px;
}

.block-videoblog-block .views-row {
    width: 282px;
    margin: 15px 24px 40px 0;
    float: left;
}

.block-videoblog-block .views-row-last {
    margin-right: 0;
}


/**
 * General Footer styles
 */ 

/* Menu blocks */
.block-menu-geografic,
.block-menu-additional-menu,
.block-menu-old,
.block-menu-system {
    width: 120px;
    margin-right: 24px;
}

/**
 * Custom Main Page styles
 */

