/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

/**
 * General styles
 */


/*
 * General Header Banner styles
 */

.zone-header-banner-wrapper {
    display: block;
    background-color: grey;
}


/*
 * General Header styles
 */

.zone-header-wrapper {
    position: static;
    z-index: 0;
    width: auto;
    height: auto;
    top: auto;
    background-color: inherit;
}

.zone-header {
    background-color: inherit;
}


/* login blocks */
.block-15,
.block-27 {
    display: block;
    position: absolute;
    top: 25px;
    right: 215px;
}

.block-15 .content img,
.block-27 .content img {
    margin-right: 0.5em;
}

.block-15 .content a,
.block-27 .content a {
    color: #8B9298;
}


/* search block */
.block-custom-search-blocks-1 {
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
}

.block-custom-search-blocks-1 .form-item, 
.block-custom-search-blocks-1 .form-actions {
    margin: 0 auto;
}

#edit-custom-search-blocks-form-1--2 {
    width: 200px;
    height: 30px;
    font-family: 'LiberationSans Regular', sans-serif;
}

#edit-custom-search-blocks-form-1--2::-webkit-input-placeholder,
#edit-custom-search-blocks-form-1--2::-moz-placeholder,
#edit-custom-search-blocks-form-1--2:-moz-placeholder,
#edit-custom-search-blocks-form-1--2:-ms-input-placeholder {
    color: #8B9298;
}

/* logo block */
.block-8 {
    width: 351px;
    height: 58px;
}


/* date block */
.block-16 {
    display: block;
    position: absolute;
    bottom: 25px;
}

.block-16 .content {
    color: #671A1D;
    font-family: 'PTSans Bold', sans-serif;
    font-weight: bold;
}


/* currency block */
.block-bel-currency {
    display: block;
    position: absolute;
    bottom: 25px;
}

.bel-currency-char {
    margin-right: 0.25em;
    font-family: 'PTSans Bold', sans-serif;
    font-weight: bold;
}

.bel-currency-delimiter {
    margin: 0 0.25em;
}


/* weather block */
.block-local-weather {
    display: block;
    position: absolute;
    bottom: 25px;
    right: 306px;
}

.block-local-weather .delimiter {
    margin: 0 0.25em;
}

.block-local-weather .icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 0.25em;
    vertical-align: top;
}

.block-local-weather .clear-day {
    background: url('/sites/default/files/weather/icons-small/clear-day.png') no-repeat 0 0;
}

.block-local-weather .clear-night {
    background: url('/sites/default/files/weather/icons-small/clear-night.png') no-repeat 0 0;
}

.block-local-weather .fog {
    background: url('/sites/default/files/weather/icons-small/fog.png') no-repeat 0 0;
}

.block-local-weather .cloudy {
    background: url('/sites/default/files/weather/icons-small/cloudy.png') no-repeat 0 0;
}

.block-local-weather .rain {
    background: url('/sites/default/files/weather/icons-small/rain.png') no-repeat 0 0;
}

.block-local-weather .partly-cloudy-day {
    background: url('/sites/default/files/weather/icons-small/partly-cloudy-night.png') no-repeat 0 0;
}

.block-local-weather .partly-cloudy-night {
    background: url('/sites/default/files/weather/icons-small/partly-cloudy-night.png') no-repeat 0 0;
}

/* social icons block */
.block-3 {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 0;
}

.icon-social {
    width: 31px;
    height: 31px;
    margin-right: 7px;
}

.icon-social-last {
    width: 31px;
    height: 31px;
}

/* mobile menu button block */
.block-menu-main-mobile {
    display: none;
}

/**
 * General Menu styles
 */

.zone-menu-wrapper {
    height: auto;
    background-color: #231F20;
}

.main-menu {
    text-align: center;
}

.main-menu li {
    margin: 0;
}

.main-menu li > a {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'PTSans Bold', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}

.main-menu li > a:hover,
.main-menu li > a:active,
.main-menu .active-trail a {
    text-decoration: none;
    color: #AEAEAE;
}


/**
 * General Content styles
 */

.zone-content {
    padding: 30px 0;
}

#page-title {
    margin: 0 50px 20px 50px;
    font-size: 2.85em;
}



/**
 * General Preview styles
 */


/**
 * General Footer styles
 */ 


/**
 * General Views styles
 */

/* media grid block */
.block-media-grid .views-row {
    width: 282px;
    float: left;
    margin: 0 24px 35px 0;
}

.block-media-grid .views-row-last {
    margin: 0 0 35px 0;
}

/* media grid page */
.page-media-grid .views-row {
    width: 282px;
    float: left;
    margin: 0 24px 35px 0;
}

.page-media-grid .views-row:nth-of-type(3n) {
    margin: 0 0 35px 0;
}

.page-media-grid .views-row:nth-of-type(3n+1) {
    clear: both;
}

/* filtered table page */
.page-filtered-table .view-header {
    margin: 0 50px 15px 50px;
}

.page-filtered-table .view-filters {
    margin: 0 50px 10px 50px;
}

.page-filtered-table .views-exposed-form .form-submit {
    margin-top: 33px;
}

.page-filtered-table .view-content {
    padding: 20px 50px;    
}

/**
 * Custom Main Page styles
 */

/* main news */
.page-main .block-main {
    margin-bottom: 30px;
}

.page-main-news > .view-content {
    float: left;
    width: 588px;
    margin-bottom: 0;
}

.page-main-news .main-statistics {
    margin: 0 40px 15px 40px;    
}

.page-main-news .main-title {
    margin: 0 40px;
    padding-bottom: 40px;
}

.page-main-news .main-title a {
    font-size: 2.5em;
}

.page-main-news > .attachment {
    width: 282px;
    float: left;
    margin-left: 24px;
}

.page-main-news > .attachment .views-row {
    margin-top: 0;
}

/* news by regions */
.block-news-by-regions-block-5 {
    margin-bottom: 15px;
}

/* sidebar banner #1 */
.block-42 {
    display: block;
    margin-bottom: 20px;
}

.block-42 .block-inner {
    border: 1px solid #DBDBDB;
    padding: 20px;
}

/* sidebar banner #2 */
.block-41 {
    display: block;
    margin-bottom: 20px;
}

.block-41 .block-inner {
    border: 1px solid #DBDBDB;
    padding: 20px;
}


/**
 * Custom Inner views styles
 */

/* sidebar banner #1 */
.block-33 {
    display: block;
    margin-bottom: 20px;
}

.block-33 .block-inner {
    border: 1px solid #DBDBDB;
    padding: 20px;
}

/* abvestki page */
.page-abvestki .views-exposed-form .views-widget-filter-title {
    width: auto;
}

.page-abvestki .views-exposed-form .form-text {
    width: 565px;
}

.page-abvestki .views-exposed-form .views-submit-button {
    clear: none;
}


/* sidebar banner #2 */
.block-56 {
    display: block;
    margin-bottom: 20px;
}

.block-56 .block-inner {
    border: 1px solid #DBDBDB;
    padding: 20px;
}
