/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

/*
 * General Header Banner styles
 */


/*
 * General Header styles
 */


.region-header-inner {
    height: 115px;
}


/**
 * General Menu styles
 */


/**
 * General Content styles
 */


/**
 * General Preview styles
 */


/**
 * General Footer styles
 */ 

/* Menu blocks */
.block-menu-geografic,
.block-menu-additional-menu,
.block-menu-old,
.block-menu-system {
    width: 120px;
    margin-right: 100px;
}


/**
 * Custom Main Page styles
 */

