@font-face {
  font-family: 'PTSans Caption';
  src: url("ptc55f_w.eot");
  src: url("ptc55f_w.eot?#iefix") format("embedded-opentype"), url("ptc55f_w.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
