@font-face {
  font-family: 'PTSerif';
  src: url("ptf55f_w.eot");
  src: url("ptf55f_w.eot?#iefix") format("embedded-opentype"), url("ptf55f_w.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
