/* This file contains common styles for element groups of our site */

/*Position styles*/

.flush-right-all {
	text-align: right;
}


.flush-right-this {
	float: right;
}

.flush-left-this {
		float: left;
}

.clear {
		clear: both;
}

/* Text styles */

h1, h1 a {
	font-size: 36px;
	font-family: Verdana, Geneva, sans-serif;
	color: #671A1D;
	margin-bottom: 20px;
}

h2, h2 a {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-weight: normal;
		color: #394a59;
		font-size: 20px;
		letter-spacing: 0.05ex;
		margin-bottom: 5px;
}


h3, h3 a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #394a59;
	letter-spacing: 0ex;
	margin: 5px 0px;
}

h4, h4 a {
font-size: 14px;
font-weight: bold;
color: #003366;
}

h5, h5 a {
margin-left: 20px;
padding-left: 20px;
font-size: 16px;
border-left: 2px solid #00FF00;
color: #003366;
background-color: #F1F1F1;
font-weight: normal;
}

h6, h6 a {
font-size: 14px;
font-weight: bold;
color:
}




/*Link styles*/

.title-bold a {
	font-size: 14px !important;
	font-weight: bold;
}

a:link.rich-link {
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline !important;
}

.rich-red-link a {
  font-size: 14px;
	font-weight: bold;
	color: #D2232A !important; 
	text-decoration: underline !important;
}

/* Table styles */

article table {
	border: 1px solid #ccc;
}

article td {
	border: 1px dashed #ccc;
}

article thead th, th {
	background-color: #231F20;
	border-top: 1px solid #231F20;
	border-bottom: 1px solid #231F20;
	border-right: 1px solid #666;
	border-left: 1px solid #666;
	color: #fff;
	font-weight: bold;
}

tr:hover td, tr.even:hover td.active, tr.odd:hover td.active {
		background: #FFFFFF;
}

/* Views Styles */

.views-row {
    margin: 10px 0px;
}

.zebra .views-row {
		padding: 10px;
		margin: 0;
}

.zebra .views-row-odd {
		background-color: #fbfbfb;
}

.zebra .views-row-even {
		background-color: #edeeef;
		
}