/* This file contains common styles for element groups of our site */

/*Position styles*/

.flush-right-all {
	text-align: right;
}


.flush-right-this {
	float: right;
}

.flush-left-all {
	text-align: left;
}

.flush-left-this {
    float: left;
}

.center-this {
    text-align: center;
}

.no-margin {
	margin: 0;
}

/* Text styles */

h1 {
    font-family: Verdana, Geneva, sans-serif;
    color: #671A1D;
    margin-bottom: 0.5em;
}

h2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #808080;
    font-size: 20px;
    margin-bottom: 0.3em;
}


h3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #8996a0;
    margin-bottom: 5px;
}

h4 {
    font-size: 14px;
    font-weight: bold;
    color: #003366;
}

h5 {
    margin-left: 20px;
    padding-left: 20px;
    font-size: 16px;
    border-left: 2px solid #00FF00;
    color: #003366;
    background-color: #F1F1F1;
    font-weight: normal;
}

h6 {
    font-size: 14px;
    font-weight: bold;
}

label {
    font-weight: bold;
}

/*Link styles*/

.no-underline-text, .no-underline-text a, a.no-underline-text,
.no-underline-text:hover,
.no-underline-text a:hover,
a.no-underline-text:hover {
    text-decoration: none;
}

.black-text, .black-text a, a.black-text {
	color: #231F20;
}

.dark-red-text, .dark-red-text a, a.dark-red-text {
    color: #671A1D;
}

.rich-link a, a.rich-link {
	text-decoration: underline !important;
}

.bold-text {
	font-size: 1.1em !important;
	font-weight: bold;
}

.large-text {
    font-size: 1.1em !important;
}

.small-text {
    font-size: 0.85em;
}

/* Button styles */

.more-link,
.black-button,
.red-button,
.item-list .pager li {
    width: 120px;
    margin: 0 auto 0.3em auto;
    padding: 0.3em 1em 0.5em 1em;
    border-radius: 3px;
}

.more-link,
.black-button,
.item-list .pager li {
    color: #fff;
    background-color: #231F20;
}

.more-link:hover,
.more-link:active,
.black-button:hover,
.black-button:active,
.item-list .pager li:hover,
.item-list .pager li:active {
    background-color: #505050;
}

.red-button {
    background-color: #671A1D;
}

.red-button:hover,
.red-button:active {
    background-color: #D2232A;
}

.black-button a,
.red-button a,
.item-list .pager li a,
.more-link a {
    color: #fff;
    text-decoration: none;
}

/* Table styles */

article table {
    border: 1px solid #ccc;
    margin-bottom: 0.7em;
}

article th {
    background-color: #231F20;
    border-top: 1px solid #231F20;
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;
    border-left: 1px solid #666;
    color: #fff;
    font-weight: bold;
    padding: 0.2em;
    text-align: center;
}

article td {
    padding: 0.2em;
    border: 1px dashed #ccc;
}

th label {
    color: #fff;
}

table {
    border: 1px solid #ccc;
}

/* Views Styles */

.views-row {
    margin: 0.7em 0;
}

.zebra .views-row {
    padding: 0.5em 10px 10px 10px;
    margin: 0;
    overflow: auto;
}

.zebra tr.odd,
.zebra .views-row-odd {
    background-color: #edeeef;
}


.zebra tr.even,
.zebra .views-row-even {
    background-color: #fbfbfb;
}

.content-grid .views-row {
    width: 340px;
    float: left;
    margin: 0 0 20px 0;
}

.content-grid .views-row-odd {
    margin-right: 20px;
}

.media-grid-page .views-row {
    width: 230px;
    height: 250px;
    float: left;
    margin: 0 10px 10px 0;
}

.media-grid-block .views-row {
    width: 230px;
    float: left;
    margin: 0 10px 10px 0;
}

.media-grid-block .views-row-last {
    width: 230px;
    float: left;
    margin: 0 0 10px 0;
}


/* Misc styles */

.statistics-list {
    color: #585858;
    font-size: 11px;
    margin-top: 0.3em;
    margin-bottom: 0.7em;
}

.statistics-list img {
    height: 12px;
}

.comments-counter {
    color: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    vertical-align: super;
    margin-left: 0.3em;
    color: #D2232A;
}

.comments-counter-highlight {
    color: #fff;
    background-color: #808080;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    vertical-align: super;
    padding: 1px 3px 2px;
    margin-left: 0.3em;
}

.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 1.2em;
}
