/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

#region-sidebar-first, #region-social-blocks, #zone-preview-wrapper, #zone-postscript-wrapper {
    display: none;
}

#block-block-18, #block-views-banners-block-1, #block-block-3, #block-block-14, #block-block-2, #block-bel-currency-bel-currency, #block-custom-search-blocks-1, nav, #block-views-blocks-block-1, #block-quicktabs-social-blocks-normal, #block-views-front-block-1, #block-poll-recent, #block-block-11, .front #region-content, #block-block-31, #block-block-32 {
    display: none;
}


/*Global Positioning styles*/

body {
    background-image:url('/sites/all/themes/dev/images/grey_texture.jpg');
}


#zone-content, #zone-branding, #zone-preface  {
    background-color: #fff; 
    border-left: 1px dashed #ccc;
    border-right: 1px dashed #ccc;
}

#zone-content-wrapper {
    overflow: hidden;
}

#zone-branding {
    padding-top: 10px;
    padding-bottom: 10px;
}


#region-menu {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100% !important;
}

.region-content-inner {
    padding: 10px 0;
}

.region-sidebar-first-inner {
    background-image: url('http://horki.info/sites/all/themes/dev/images/grey_texture.jpg');
    border-left: 1px dashed #ccc; border-right: 1px dashed #ccc;
    padding: 10px 5px;
}

.region-sidebar-second-inner {
    padding: 10px 0px;
}

div.field {
    margin: 1em 0;
}

.more-link {
    text-align: center;
}

/*Initial Links & Text Settings*/

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    color: #231F20;
    line-height: normal;
}

article
{
    font-size: 15px;
}

a:link,
a:active,
a:visited {
    color: #D2232A;
    text-decoration: none;
}

a:hover {
    color: #D2232A;
    text-decoration: underline;
}

p {
    margin-bottom: 0.7em;
}

label {
    color: #231F20;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

/*List styles*/

ul {
    list-style: disc;
}

.content ul, .content ol {
    padding-left: 1.2em;
}

ul li.leaf {
    list-style-type: none;
    list-style-image: none;
}

li a.active {
    color: #671A1D;
}

article ul {
    margin-bottom: 0.7em;
}

ul.primary {
    margin: 0 0 20px;
    padding: 0;
    border: none;
}

ul.primary li a {
    background-color: #231F20; 
    color: #fff;
    padding: 0.3em 1em;
    border: none;
    border-radius: 3px;
}

ul.primary li.active a, ul.primary li a:hover {
    background-color: #666;
    border: none;
}

.node ul.inline {
    margin: 10px;
}	

div.group-footer ul, .node-teaser ul.inline {
    margin: 10px;
    float: right;
}

/*Buttons styles*/

button, input[type="reset"], input[type="submit"], input[type="button"] {
    text-shadow: none;
    font-size: 13px;
    color: #fff;
    background: none;
    background-color: #231F20;
    border-radius: 3px;
}

.form-actions input {
    margin-right: 0px;
}

.form-actions input:hover {
    background-color: #505050;
}


/*Block Titles*/	

h2.block-title {
    color: #8996a0;
    text-transform: uppercase;
    text-align: right;
    font-size: 15px;
    padding-bottom: 0.2em;
    padding-right: 2px;
    font-weight: bold;
}

/* Block More Link */

.block .more-link a {
    color: #231F20;
    font-size: 1.1em !important;
    font-weight: bold;
    text-decoration: underline !important;
}

/*Logo Block Styles*/

#block-block-8 {
    width: 210px;
    margin: 0 auto;
}

/* User Login Block Styles */
#block-block-15 .content, #block-block-27 .content {
	margin-bottom: 5px;
}

/*Mobile Menu Block*/

#block-menu-menu-mobile {
    background-color: #231F20;
}

#block-menu-menu-mobile .content li {
    padding: 10px;
    margin: 0px;
}

#block-menu-menu-mobile .content li a {
    color: #fff;
    padding: 5px;
    font-size: 24px;
}

#block-menu-menu-mobile .content li a:hover, #block-menu-menu-mobile .content li a:active {
    background-color: #666;
    border-radius: 3px;
    text-decoration: none;
}

/* Uzgorak Banner Block */

ul.uzgorak-banner {
    margin-top: 5px;
    padding-left: 0px;
    margin-bottom: 0px;
    list-style-position: inside;
}

ul.uzgorak-banner > li {
    margin-left: 5px;
}

/*Social Widget Block*/

#quicktabs-social_blocks_normal {
    padding: 10px 0;
    border-bottom: 1px dashed #ccc;
}

#quicktabs-social_blocks_normal .quicktabs-tabs {
    width: 390px;
    margin: 0 auto;
    position: relative;
    left: 15px;
    height: auto;
}

#quicktabs-social_blocks_normal .quicktabs-tabs li a {
    color: #fff;
    border: none;
    background-image: none;
    background-color: #231F20;
    padding: 0.3em 1em 0.5em;
    border-radius: 3px;
    font-size: 13px;
    min-height: 0px;
}

.quicktabs_main.quicktabs-style-sky {
    border: none;
    padding: 0;
}

ul.quicktabs-tabs.quicktabs-style-sky li {
    margin: 0 1em 0 0; 
}

ul.quicktabs-tabs.quicktabs-style-sky li.active {
    margin: 0 1em 0 0;
}

ul.quicktabs-tabs.quicktabs-style-sky li a,
ul.quicktabs-tabs.quicktabs-style-sky li a:visited,
ul.quicktabs-tabs.quicktabs-style-sky li.active a,
ul.quicktabs-tabs.quicktabs-style-sky li.active a:visited {
    height: auto;
    min-height: 0;
    line-height: normal;
}

ul.quicktabs-tabs.quicktabs-style-sky li a:hover,
ul.quicktabs-tabs.quicktabs-style-sky li.active a,
ul.quicktabs-tabs.quicktabs-style-sky li.active a:visited {
    background-color: #666 !important; 
    font-weight: normal;
}


/* Last News Block Style */

.view-id-aposhnija_naviny h3, #block-views-blocks-block-1 h3 {
    background-color:#671b1d;
    border-radius: 3px;
    padding: 1px;
    clear: both;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
    font-weight: normal;
    margin-bottom: 6px;
}


/*Last Comments Block Style*/

#block-views-comments-block-block-1 .views-field-name {
    position: relative;
    top: -4px;
}

#block-views-comments-block-block-1 .views-field-comment-body {
    overflow: hidden;
    padding: 0.2em 0;
}

#block-views-comments-block-block-1 .views-field-title {
    font-size: 0.85em;
}

/* Comments Page Style */

.view-comments-page .view-header {
    font-size: 0.85em;
    padding: 0.5em 0;
}

.view-comments-page .views-row {
    clear: both;
}

.view-comments-page .page-title {
    text-align: left;
}

.view-comments-page .views-field-comment-body {
    margin: 0.5em 0 0.2em 0;
    clear: both;
    overflow: hidden;
}

.view-comments-page .views-field-nothing {
    position: relative;
    top: 3px;
    display: inline;
}

.view-comments-page .views-field-value {
    float: right;
}



/*Similar terms block styles*/

#block-views-similarterms-block {
    padding: 0.7em 0;
    border-top: 1px dashed #ccc;
}

#block-views-similarterms-block .block-title {
    text-align: left;
}

.view-similarterms .views-row {
    margin: 0.2em 0;
}
.view-similarterms .views-field-title a {
    color: #671A1D;
}

/*Comment form styles*/
#comments {
    margin-top: 0;
}

#block-commentsblock-comment-form-block {
    border-top: 1px dashed #ccc;
    padding-top: 0.7em;
}

#block-commentsblock-comment-form-block #edit-comment-body-und-0-format,
#comment-form #edit-comment-body-und-0-format {
    display: none;
}

#edit-author--2 {
    display: none;
}

#edit-comment-body-und-0-value-counter {
    text-align: center;
    font-size: 0.85em;
    color: #666;
}

.cke_toolbox_collapser {
    display: none;
}


/* Comments to node block styles*/
#block-views-comments-block-block {
    border-top: 1px dashed #ccc;
    padding-top: 0.7em;
}

#block-views-comments-block-block .view-header {
    font-size: 0.85em;
    padding: 0.5em 0;
}

#block-views-comments-block-block .views-row {
    clear: both;
}

#block-views-comments-block-block .block-title {
    text-align: left;
}

#block-views-comments-block-block .views-field-comment-body {
    margin: 0.5em 0 0.2em 0;
    clear: both;
    overflow: hidden;
}

#block-views-comments-block-block .views-field-nothing {
    position: relative;
    top: 10px;
    display: inline;
}

#block-views-comments-block-block .views-field-value {
    float: right;
}

.comment-avatar {
    margin: 0 5px 5px 0;
}

.comment-depth-1 {
    width: 95%;
    float: right;
}

.comment-depth-2 {
    width: 93%;
    float: right;
}

.comment-depth-3 {
    width: 91%;
    float: right;
}

.comment-depth-4 {
    width: 89%;
    float: right;
}

.comment-depth-5 {
    width: 87%;
    float: right;
}

.comment-depth-6 {
    width: 85%;
    float: right;
}

.comment-depth-7 {
    width: 83%;
    float: right;
}

.comment-depth-8 {
    width: 81%;
    float: right;
}

.comment-depth-9 {
    width: 79%;
    float: right;
}

.comment-depth-10 {
    width: 77%;
    float: right;
}


/* Comments message for anonymous block styles */

#block-block-28 {
    border-top: 1px dashed #ccc;
    padding-top: 0.7em;
    padding-bottom: 1em;
}

/*Comment page block styles*/

article.comment .comment-links,
article.comment .permalink {
    display: none;
}

/* Like button styles */


.rate-number-up-down-rating {
    font-weight: bold;
    font-size: 1.1em;
    color: #808080;
    padding: 0 0.5em;
}

.rate-number-up-down-rating.negative {
    color: #D2232A;
}

.rate-number-up-down-rating.positive {
    color: green;
}

.rate-number-up-down-btn-up {
    margin-top: 0px;
    background: url('/sites/default/files/default_images/like.png')
}

.rate-number-up-down-btn-down {
    margin-top: 5px;
    background: url('/sites/default/files/default_images/dislike.png')
}

/*Footer Block styles*/

#block-block-9 {
    padding: 5px 0 0 0;
}

#block-block-9 .content p, #block-block-9 .content p a {
    color: #8996A0;
}


/*Teasers style*/

.node-teaser .field-type-image, .node-teaser .field-type-video-embed-field {
    float: left;
    margin: 0 10px 10px 0;
}

.table-teaser {
    position: relative; 
    margin-top: -5px; 
    float: right; 
    width: 55%;
}

/* Node styles */

.submitted {
    font-size: 15px;
    color: #8996A0;
    font-weight: bold;
    margin-bottom: 0.7em;
}

.by-readers-delimiter {
    color: #666;
}

.by-readers {
    color: #D2232A;
}


.field-name-field-text img, .caption {
    max-width: 100%;
    height: auto !important; 
}

.field-name-field-photos .field-item {
    float: left;
    margin: 1px;
}


.jcarousel-clip ul li  {
    width: 140px !important;
}

.caption {
    position: relative;
}

.caption p {
    opacity: 0.8;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    padding: 2px 0px;
    width: 100%;
    color: #fff;
    background-color: #000;
    font-weight: bold;
    text-align: center;
}

.embedded-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.player iframe,  
.player object,  
.player embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

article .field-name-field-text {
    margin: 0;
}

article .group-tags,
article .field-name-field-add-this {
    border-top: 1px dashed #ccc;
    padding: 0.7em 0;
    margin: 0;
}

article .node-links {
    display: none;
}

article .user-picture {
    display: none;
}


.group-tags .field {
    margin: 0px; 
}

.group-tags legend {
    float: left;
    font-size: 15px;
    color: #8996A0;
    font-weight: bold;
    text-transform: uppercase;
}

.field-name-field-placement-by-taxonomy .field-item, .field-name-field-rubric-by-taxonomy .field-item, .field field-name-field-additional-taxonomy .field-item {
    float: left;
}

.group-tags .field-item a {
    float: left;
    text-transform: uppercase;
    color: #8996A0;
    font-weight: bold;
    font-size: 15px;
    padding-left: 0.5em;    
}




/*Common Views styles*/

.block-main .view-header {
    border-bottom: 1px dashed #ccc;
} 

.block-main .view-footer {
    padding: 0.7em 0 1em;
    border-top: 1px dashed #ccc;
} 


/*Rubrics Views styles*/

.page-taxonomy .title,
.page-libraryhtml .title,
.page-uzgorakhtml .title,
.page-narodnyjahtml .title,
.page-photohtml .title,
.page-videohtml .title,
.page-afishahtml .title {
    display: none;
}

.content-grid .views-field-title {
    margin-bottom: 0.5em;
}

.content-grid table {
    border: 0px!important;
}

.content-grid td {
    padding: 0 0 20px 0;
    width: 340px;
} 

.view-taxonomy-term .col-2,
.view-genres .col-2,
.view-last-news .col-2 {
    padding-left: 20px;
}

.view-genres .views-field-field-what,
.view-genres .views-field-field-where,
.view-genres .views-field-field-when,
.view-genres .views-field-field-placement-by-taxonomy {
    position: relative;
    float: right;
    width: 55%;
    margin-bottom: 5px;
}

.content-grid td,
.view-id-daviedka td {
    vertical-align:top;
}

.pic-list {
    width: 40%;
}

.date-list {
    color: #585858;
    font-size: 11px;
}

/*Photoblog & Videoblog styles*/

.view-id-photoblog td, .view-id-videoblog td {
    width: 230px;
}


.view-id-photoblog .col-2, .view-id-videoblog .col-2 {
    padding-left: 5px;
    padding-right: 5px;
}


.view-id-photoblog .views-field-field-pics, .view-id-videoblog .views-field-field-video  {
    margin-bottom: 10px; 
}


.view-id-photoblog td {
    padding: 0 0 10px 0;
}




.view-id-videoblog td { 
    padding: 0 0 20px 0;
}

/*Uzgorak page styles */

.uzgorak .views-row {
    min-height: 180px;
}

.uzgorak-preview {
    float: left;
    margin-right: 30px;
}

.uzgorak-link a {
    margin-right: 10px;
}

.uzgorak-title {
    margin-top: 20px;
}

/*Library page styles */

.library .views-row {
    min-height: 200px;
}

.library-preview {
    float: left;
    margin-right: 30px;
}

.library-link a {
    margin-right: 10px;
}


/*Davedka Page Styles*/	

.context-davedkahtml .cboxLoadedContent {
    width: 560px;
}

.context-davedkahtml  .field-name-field-text p {
    margin-bottom: 20px !important;
}

.context-davedkahtml .block-main, .context-davedkahtml .title  {
    display: none;
}

.context-davedkahtml .field-name-field-placement-by-taxonomy,
.context-davedkahtml .field-name-field-daviedka-punkt-menu {
    display: none;
}

#quicktabs-davedka {
    margin-top: 10px;
}

#quicktabs-davedka .quicktabs-tabs {
    width: 280px;
    margin: 0 auto;
}

#quicktabs-davedka .quicktabs-tabs li a {
    color: #fff;
    border: none;
    border-radius: 3px;
    background-image: none;
    background-color: #231F20;
    padding: 0.3em 1em 0.5em;
    font-size: 13px;
    min-height: 0px;
}

.view-daviedka table {
    border-top: 1px dashed #edeeef;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.view-daviedka td {
    width: 156px;
    text-align: center;
    padding: 10px 0 0 0;
}

.view-daviedka img{
    width: 130px; text-align: center;
}

.views-field-field-daviedka-punkt-menu {
    width: 130px;
    margin: 0 auto;
}

.views-field-field-daviedka-punkt-menu a {
    font-size: 9px;
    text-align: center;
    color: #8996A0;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px;
}


#quicktabs-davedka .views-field-field-daviedka-punkt-menu .field-content {
    text-align: center;
    margin: 5px 0;
}


/*Library Page Styles*/	

.field-name-field-pdf a {
    font-weight: bold;
}


/*Add news-from-readers Page styles*/

.page-node-add-news-from-readers  #page-title {
    display: none;
}

/* User profile & registration Page styles */

#user-register-form, #user-profile-form, #user-pass {
    width: 50%;
}

.profile .user-picture {
	float: left;
}

.profile h3 {
    border-bottom: 1px dashed #ccc;
}

#hybridauth-additional-info-form {
    width: 450px;
    margin: 50px auto;
}

/*Webform Page Settings*/

article.node-webform footer.submitted {
    display: none;
}



/*Mollom styles*/

.form-item-mollom-captcha label {
    display: none;
}

/*Addthis styles*/

.field-type-addthis .field-label {
    font-size: 15px;
    color: #8996A0;
    text-transform: uppercase;
    margin-bottom: 0.2em;
}

.field-type-addthis .at300b {
    padding: 0 4px 0 0;
}

/*Admin menu style*/

#admin-menu a {
    font-size: 11px;
}

/* Misc Styles */

.description, .tips, .fieldset-description {
    color: #666;
    font-size: 0.85em;
}

