/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 
 #block-bel-currency-bel-currency, #block-views-banners-block-1 {
	display: block;
 }
 
 #block-views-banners-block-2 {
	display: none
 }
 
/*Initial Links & Text Settings*/

body, a {
	font-size: 13px;
}

h2, h2 a, div.field-name-field-related div.field-label {
	font-size: 24px;
}

h3 {
	font-size: 16px;
}

/*Footer Menu's Elements*/

	ul.menu li a {
		font-size: 11px;
	}

/*Block Titles*/	

	h2.block-title {
		font-size: 14px;
	}	
	
/* Main Menu Style */

	ul.main-menu  li a {
		font-size: 21px;
	}

	ul.secondary-menu li a {
		font-size: 15px;
	}

	ul.main-menu li {
		padding: 0 7px;
	}

	ul.secondary-menu li {
		padding: 0 7px;
	}	

	nav.navigation li a:hover, nav.navigation li a:active {
		padding-bottom: 5px;
		border-bottom: 3px solid #04202e;
	}

/*Main News Block Settings*/

div.view-display-id-block_1 a {
		font-size: 24px;
	}

section#block-views-front-block-1 div.content {
	padding: 5px 0;
}
 
div.view-footer a {
	font-size: 14px;
}



/*Last Comments Block*/

	#block-views-ads-block span.username, #block-views-ads-block span.views-field-view-comment  a {
		font-size: 12px;
	}
	
/*Ads Block*/
	
	#block-views-blocks-block-1 span.views-field-field-where, #block-views-blocks-block-1 span.views-field-field-cost {
		font-size: 12px;
	}
		
/* QuickTabs Block Setting */

	#quicktabs-container-social_blocks_normal {
		padding: 10px;
	}
	
	ul.quicktabs-tabs li a {
		font-size: 24px;
	}

	ul.quicktabs-tabs li a:hover {
		padding-bottom: 5px;
		border-bottom: 3px solid #04202e;
	}


/*Node Style*/
div.comment {
	width: 560px;
	margin-left: 20px;
}

