/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
 
 #block-nice-menus-1, #block-nice-menus-2 , #block-views-front-block-2, #block-menu-menu-geografic, #block-menu-menu-small-genres, #block-menu-menu-system, #block-views-ads-block, #block-views-blocks-block-1, #block-views-banners-block-2, #block-bel-currency-bel-currency, #block-block-2, #block-block-3, #block-custom-search-blocks-1, #block-quicktabs-social-blocks-narrow {
	display: block;
}

#block-menu-menu-mobile, #block-menu-menu-second-mobile-menu {
	display: none;
}

/*Main Menu Style*/

.main-menu {
	font-size: 1.2em;
}

/*Secondary Menu Style*/

.secondary-menu {
	font-size: 0.8em;
}




