/* This file will hold styles that are loaded using the same media query as the wide grid. */
 #block-views-banners-block, #block-quicktabs-social-blocks {
	display: block;
 }
 
 #block-views-banners-block-1, #block-quicktabs-social-blocks-normal {
	display: none
 }
 
 /*Main Menu Style*/ 
 
 .main-menu {
	font-size: 2.1em;
}

/*Secondary Menu Style*/

.secondary-menu {
	font-size: 1.5em;
}