/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */


/*Initial Links & Text Settings*/

body, a {
	font-size: 12px;
}

h2, h2 a, div.node-ads div.field-item, div.field-name-field-related div.field-label {
	font-size: 20px;
}

h3 {
	font-size: 14px;
}

/*Standart Margin & Padding & Color Settings*/

	.zone {
		margin-bottom: 10px;
	}

	.views-row {
		margin: 20px 0px;
	}
	
	div.views-row-first {
		margin: 0px 0px 20px 0px;
	}

/*Footer Menu's Elements*/
	
	ul.menu li  a {
		font-size: 11px;
	}

/*Block Titles*/	

	h2.block-title {
		font-size: 11px;
	}

/*Login Block*/	

	#block-nice-menus-4 {
		float: right;
	}
	
/*Information Block's Float Settings*/

	#block-block-2, #block-bel-currency-bel-currency {
		float: right;
	}

/* Main Menu Style */

	ul.main-menu  li a {
		font-size: 15px;
	}

	ul.secondary-menu li a {
		font-size: 11px;
	}

	nav.navigation li a:hover, nav.navigation li a:active {
		padding-bottom: 5px;
		border-bottom: 3px solid #04202e;
	}

	ul.main-menu li {
		padding: 0 5px;
	}

	ul.secondary-menu li {
		padding: 0 5px;
	}	

/*Main News Block*/
	
	section#block-views-front-block-1 div.content {
		padding: 5px 0;
	}

	div.view-display-id-block_1 a {
		font-size: 16px;
	}
	
	div.view-footer a {
		font-size: 13px;
	}
	
	/*Ads Block*/

	#block-views-ads-block {
		padding: 10px;
		margin-bottom: 20px;
	}
	
	#block-views-ads-block span.username, #block-views-ads-block span.views-field-view-comment  a {
		font-size: 11px;
	}
	

	#block-views-blocks-block-1 {
		padding: 10px;
	}

	#block-views-blocks-block-1 div.views-row {
		margin: 5px 0px;
	}
	
	#block-views-blocks-block-1 a {
		font-size: 13px;
	} 
	
	#block-views-blocks-block-1 div.view-footer {
		margin-top: 10px;
	}
	
	#block-views-blocks-block-1 span.views-field-field-where, #block-views-blocks-block-1 span.views-field-field-cost {
		font-size: 11px;
	}
	
/*Last News Block*/

	#block-views-front-block-2 {
		padding: 10px;		
	}
	
	#block-views-front-block-2 div.views-row {
		margin: 5px 0px;
	}
	
	#block-views-front-block-2 div.view-footer {
		margin-top: 10px;
	}
	
	/* QuickTabs Block Setting */

	#quicktabs-container-social_blocks_normal {
		padding: 10px;
		height: 260px;
	}
	
	ul.quicktabs-tabs {
		width: 190px;
		margin: 0px auto 15px auto;
	}
	
	
	ul.quicktabs-tabs li {
		margin: 0px 25px;
	}
	
	ul.quicktabs-tabs li a {
		font-size: 15px;
	}
	
	ul.quicktabs-tabs li a:hover {
		padding-bottom: 5px;
		border-bottom: 3px solid #04202e;
	}





