/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

nav, #block-nice-menus-4, #block-nice-menus-3, #block-views-front-block-2, #block-menu-menu-geografic, #block-menu-menu-small-genres, #block-menu-menu-system, #block-views-ads-block, #block-views-blocks-block-1, #block-views-banners-block-2, #block-bel-currency-bel-currency, #block-block-2, #block-block-3, #block-custom-search-blocks-1, #block-quicktabs-social-blocks-narrow {
	display: block;
}

#block-menu-menu-mobile, #block-menu-menu-second-mobile-menu {
	display: none;
}

/*Initial Links & Text Settings*/

h2, h2 a, div.node-ads div.field-item {
	font-family: "Georgia";
}

h2 a:link {
	text-decoration: none;
}

h2 a:hover {
	text-decoration: underline;
}

h3 {
	font-family: "Georgia";
}

/*Footer Menu's Elements*/

	ul.menu li {
		text-align: left;
	}

/*Login Block*/	

	#block-nice-menus-4 {
		float: right;
	}
	
	#block-nice-menus-3 {
		padding: 0px;
		float: left;
	}
	
/*Logo Block*/

	div.zone-branding {
		margin: 0px auto;
	}
	
	#block-views-logo-block {
		padding: 0px;
	}
	
/*Information Block's Float Settings*/

	#block-block-2, #block-bel-currency-bel-currency {
		float: right;
	}
	
	/*Social Links Block Settings*/
	
	#block-block-3 {
		height: 60px;
		overflow: hidden;
	}
	
	/*Weather Block Settings*/

		#block-block-2 {
			padding: 0px;
		}

	/*Social Links & Search Blocks' Settings*/
		#block-block-3, #block-custom-search-blocks-1 {
			padding: 0px;
		}
 
	/*Currency Block Settings*/

		#block-bel-currency-bel-currency {
			width: 86px;
			height: 56px;
			margin-right: 5px;
			padding: 2px;
			background-color: #f3f3f3;
		}

		.bel_currency_char, .bel_currency_num {
			display: inline;
		}

		.bel_currency_char {
			color: #51626f;
		}

		.bel_currency_row {
			font-family: "Tahoma";
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			float: right;
		}

	/*Search Block Positioning*/

		div.block-custom-search-blocks-1 {
			float: right;
		}
		
		#edit-actions, .form-item-custom-search-blocks-form-1 {
			float: left;
			margin: 0px 2px;
		}
		
		.search-form {
			width: 180px;
			margin-bottom: 20px;
		}
		
/* Main Menu Positioning */

	#region-menu {
		margin: 0px;
	}

	ul.main-menu, ul.secondary-menu {
		clear:left;
		float:left;
		position:relative;
		left:50%;
		text-align:center;
		text-decoration: none;
	}
	
	nav.navigation li a {
		font-family: "Georgia";
	}

	nav.navigation li a:link {
		color: #04202e;
		text-decoration: none;
	}

	nav.navigation li a:visited {
		color: #04202e;
		text-decoration: none;
	}

	nav.navigation li {
		margin: 0;
		display:block;
		float:left;
		list-style:none;
		padding:0;
		position:relative;
		right:50%;
	} 

/*Main News Block*/

	#zone-menu  {
		background-color: transparent;
	}

	div.view-display-id-block_1 a {
		font-family: "Georgia";
	}
	
	div.view-footer a {
		font-family: "Tahoma";
	}
	
/*Last Comments Block*/

	#block-views-ads-block {
		background-color: #f3f3f3;
	}
	
/*Ads Block*/

	#block-views-blocks-block-1 {
		background-color: #f3f3f3;
	}
	
	#block-views-blocks-block-1 h3 {
		text-align: center;
	}

/*Last News Block*/

	#block-views-front-block-2 {
		background-color: #f3f3f3;		
	}
	
	/* QuickTabs Block Setting */

	#quicktabs-container-social_blocks_narrow {
		background-color: #f3f3f3;
	}
	
	ul.quicktabs-tabs li a {
		font-family: "Georgia";
	}

	ul.quicktabs-tabs li a:link {
		color: #04202e;
		text-decoration: none;
	}
	
	ul.quicktabs-tabs li a:visited {
		color: #04202e;
		text-decoration: none;
	}




