/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 
 #block-bel-currency-bel-currency, #block-views-banners-block-1 {
 }
 
 #block-views-banners-block-2 {
 }
 
/*Initial Links & Text Settings*/

body, a {
	font-size: 13px;
}

h2, h2 a, div.field-name-field-related div.field-label {
	font-size: 24px;
}

h3 {
	font-size: 16px;
}

/*Footer Menu's Elements*/

	ul.menu li a {
/*		font-size: 11px; */
	}

/*Block Titles*/	

	h2.block-title {
		font-size: 14px;
	}	
	
	
.view-id-testingrepresentative_node  h3 a{color: #8996a0;
font-size: 16px;
text-transform: uppercase;

padding-right: 10px;}	

.view-id-testingrepresentative_node  h3 {text-align: right;}
	
/* Main Menu Style */

	ul#secondary-menu {
		width: 920px;
		margin-left: auto;
		margin-right: auto;
}
	ul.main-menu  li a {
		font-size: 22px;
	}

	ul.secondary-menu li a {
		font-size: 14px;
	}

	ul.main-menu li {
		padding: 0 15px 0 0;
	}

	ul.secondary-menu li {
		padding: 0 7px;
	}	

	nav.navigation li a:hover, nav.navigation li a:active {
		padding-bottom: 5px;
		border-bottom: 3px solid #04202e;
	}

/*Main News Block Settings*/

.block-views-front-block-1 a {
		font-size: 27px;
		font-weight: bold;
	}

section#block-views-front-block-1 div.content {
	padding: 5px 0;
}
 
div.view-footer a {
	font-size: 14px;
}



/*Last Comments Block*/

	#block-views-ads-block span.username, #block-views-ads-block span.views-field-view-comment  a {
		font-size: 12px;
	}
	
/*Ads Block*/
	
	#block-views-blocks-block-1 span.views-field-field-where, #block-views-blocks-block-1 span.views-field-field-cost {
		font-size: 12px;
	}
		
/* QuickTabs Block Setting */

	#quicktabs-container-social_blocks_normal {
		padding: 10px;
	}
	
	ul.quicktabs-tabs li a {
		font-size: 24px;
	}

	ul.quicktabs-tabs li a:hover {
		padding-bottom: 5px;
		border-bottom: 3px solid #04202e;
	}


/*Node Style*/
div.comment {
	width: 560px;
	margin-left: 20px;
}

