/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

#region-sidebar-first, #region-social-blocks, #zone-preview-wrapper, #zone-postscript-wrapper {
    display: block;
}

#block-block-16,
#block-block-18,
#block-views-banners-block-1,
#block-block-3,
#block-block-14,
#block-block-2,
#block-bel-currency-bel-currency,
#block-custom-search-blocks-1,
nav,
#block-views-blocks-block-1,
#block-quicktabs-social-blocks-normal,
#block-views-front-block-1,
#block-poll-recent,
#block-block-11,
#block-block-29, 
#block-block-31,
#block-block-32,
#block-block-39,
#block-block-40,
#block-block-43,
#block-block-44,
#block-block-45,
#akavita {
    display: block;
}


#block-block-20, #block-menu-menu-mobile, #block-menu-menu-second-mobile-menu{
    display: none;
}

#region-header-first {
     height: 130px;
} 

#zone-menu {
     background-color: #fff;
     width: 962px;
} 

/* Headers size */

h1 {
    font-size: 36px;
}

/* Banner above header styles */

#block-block-40 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}

#block-block-40 p {
    margin: 0;
}

/*Header banner styles*/

#block-block-18 {
    width: 468px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 235px;
}

#block-block-18 p {
    margin: 0;
}

/*Logo Block Styles*/

#block-block-8 .desktop-logo {
    display: block;
}

#block-block-8 .mobile-logo {
    display: none;
}

/*Search Block Positioning*/

#block-custom-search-blocks-1 {
    background-color: #808080;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 210px;
    position: absolute;
    right: 0;
    top: 20px;
}

#block-custom-search-blocks-1 .form-item, #block-custom-search-blocks-1 .form-actions {
    margin: 0 auto;
}

#block-custom-search-blocks-1 .search-form {
    margin: 0;
    padding: 8px 9px;
}

#edit-custom-search-blocks-form-1--2 {
    width: 190px;
}


/*Social Links Block*/

#block-block-3 {
    width: 468px;
    height: 35px;
    position: absolute;
    top: 70px;
    left: 235px;
}

#block-block-3 .content img {
    margin: 0 2px;
    opacity: 0.9;
}

#block-block-3 .content img:hover {
    opacity: 1;
}

/* User Login Block Styles */

#block-block-15, #block-block-27 {
    width: 210px;
    top: 0;
    left: auto;
    right: 0;
}

/*Add News Block*/

#block-block-14 {
    width: 210px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 70px;
}

#block-block-14 .content a {
    display: block;
    font-size: 14px;
    color: #fff;
    padding: 9px 10px;
    border-radius: 3px;
    background-color: #671A1D;
}

#block-block-14:hover .content a:hover {
    background-color: #D2232A;
}

/* Current Date Block*/
#block-block-16 {
    position: absolute;
    bottom: 0;
    left: 235px;
}

#block-block-16 .content {
    font-size: 11px;
    font-weight: bold;
    margin-right: 0px;
}

/*Currency Block Settings*/

#block-bel-currency-bel-currency {
    position: absolute;
    bottom: 0;
    right: 0;
}

.bel_currency_delimiter, .bel_currency_name, .bel_currency_row {
    display: inline-block;
    margin: 0 2px;
    font-size: 11px;
}

.bel_currency_char, .bel_currency_num {
    display: inline-block;
    margin: 0 1px;
    font-size: 11px;
}

.bel_currency_char, .bel_currency_name {
    font-weight: bold;
}

/*Weather Block Settings*/

#block-block-2 {
    position: absolute;
    left: 395px;
    bottom: 0;
}

#block-block-2 .content {
    font-size: 11px;
}

#block-block-2 object {
    position: relative;
    top: 5px;
}


/* Main Menu Positioning */

ul.inline li {
    padding: 0px;
}


nav.navigation li a:link, nav.navigation li a:visited {
    color: #fff;
    text-decoration: none;
}

#main-menu, #secondary-menu {
    margin-bottom: 0px;
    display: block;
    overflow: visible;
    text-align: center;
}

#main-menu {
    padding-top: 3px;
    padding-bottom: 7px;
    text-align: center;
    background-color: #231F20;
}

#main-menu li {
    margin-left: 4px;
    margin-right: 4px; 
    margin-bottom: 3px;
}

#main-menu li a {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 4px;
    font-size: 23px;
}

#main-menu li a:hover, #main-menu li a:active, #main-menu .active-trail a {
    background-color:#666;
    border-radius: 3px;
}

#secondary-menu {
    background-color: #505050; 
    padding-top: 1px; 
    padding-bottom: 3px;}

#secondary-menu li {
    margin-right: 0;
    padding: 0 8px; 
}	

#secondary-menu li a {
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1px;
    font-size: 14px;
}

#secondary-menu .active-trail a, #secondary-menu li a:hover {
    background-color:#231F20;
    border-radius: 3px;
}

/*Main news block style*/

.page-main-news > .view-content {
    width: 460px;
    float: left;
}

.page-main-news > .view-content .views-row {
    margin: 0;
}

.page-main-news > .attachment {
    width: 240px;
    float: left;
    margin-left: 10px;
}

.page-main-news > .attachment .views-row {
    margin-top: 0;
}

/* Main page content NEW STYLE */

.page-main #region-content {
    margin: 0 0 0 10px;
    width: 710px;
}

.page-main #region-sidebar-first {
    margin: 0 10px;
    width: 210px;
}

.page-main .main-page-content {
    margin: 0 0 0 10px;
    padding-right: 9px;
    border-right: 1px dashed #ccc;
}

/*First Sidebar*/

.grey-sidebar {
    background-image: url(/sites/all/themes/dev/images/grey_texture.jpg);
    border-left: 1px dashed #ccc; border-right: 1px dashed #ccc;
    padding: 0px 5px;
    width: 208px !important; 
}

.region-sidebar-first-inner {
    padding: 10px 0;
}

.region-sidebar-first .block {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}

/*Last Comments Block*/

#block-block-13 {
    overflow:hidden !important;
}

/*Second Sidebar*/

#region-sidebar-second .block {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}

/*Block Poll*/

.poll .bar {
    background-color: #ddd;

}
.poll .bar .foreground {
    background-color: #231F20;
}

.poll .total {
    display: none;
}

.poll div.title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

#block-poll-recent {
    margin-bottom: 20px;
}

#block-poll-recent .content ul {
    list-style: none;
    text-align: center;
    margin-top: 10px;
    padding: 0;
}

#block-poll-recent .content li {
    width: 120px;
    margin: 0 auto 5px auto;
    padding: 5px 1em 6px 1em;
    border-radius: 3px;
    color: #fff;
    background-color: #231F20;
}

#block-poll-recent .content li:hover,
#block-poll-recent .content li:active {
    background-color: #505050;
}

#block-poll-recent .content li a {
    color: #fff;
    text-decoration: none;
}

/* Preview zone settings */

#zone-preview {
    background-color: #231F20;  
    width: 962px;
}

#zone-preview .block{
    margin-top: 10px;
}

#zone-preview .view-header {
    text-align: right;
}

#zone-preview .content a {
    color: #bbb;
    text-align: center;
}

#zone-preview .content a:hover, #zone-preview .content a:active {
    color: #fff;
}


/* Videoblog Block Settings*/

#block-views-videoblog-block {
    width: 470px;
}

#block-views-videoblog-block .views-row {
    width: 230px;
    margin: 5px 0 10px 5px;
    float: left;
}

#block-views-videoblog-block, #block-views-photoblog-block {
    float: left;
}

/* Photoblog Block Settings */

#block-views-photoblog-block {
    width: 470px;
}

#block-views-photoblog-block .views-row {
    width: 230px;
    margin: 5px 5px 10px 0;
    float: left;
}

/*Postscript  styles*/

#zone-postscript {
    background-color: #231F20;
    padding: 5px 0 10px 0;
    width: 962px;
}

.page-main #zone-postscript {
    background-color: #505050;
}

#zone-postscript .content {
    text-align: left;
}

#zone-postscript .content a {
    color: #fff;
    font-size: 11px;
}


/* Banner Styles */

#block-block-29 p,
#block-block-30 p,
#block-block-31 p,
#block-block-32 p,
#block-block-33 p,
#block-block-35 p,
#block-block-39 p,
#block-block-43 p,
#block-block-44 p,
#block-block-45 p {
    margin: 0;
    padding: 0;
}

#block-block-30 .content,
#block-block-31 .content,
#block-block-33 .content {
    width: 200px;
    margin: 0 auto;
}

#block-block-35 .content,
#block-block-39 .content,
#block-block-43 .content,
#block-block-44 .content,
#block-block-45 .content {
    width: 710px;
}

#block-block-29 .content,
#block-block-39 .content,
#block-block-43 .content,
#block-block-44 .content,
#block-block-45 .content {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}

#block-block-32 .content {
    padding: 10px 0;
    border-top: 1px dashed #ccc;
}

/* Footer styles */

#akavita {
    float: right;
    padding: 0 0 10px 10px;
}

/* Photoblog page styles */

.page-photohtml #region-content {
    margin: 0 0 0 10px;
    width: 720px;
}

.page-photohtml #region-sidebar-first {
    margin: 0 10px 0 0;
}

/* Videoblog page styles */

.page-videohtml #region-content {
    margin: 0 0 0 10px;
    width: 720px;
}

.page-videohtml #region-sidebar-first {
    margin: 0 10px 0 0;
}

/* Taxonomy page styles */

.page-taxonomy #region-content {
    margin: 0 0 0 10px;
    width: 720px;
}

.page-taxonomy #region-sidebar-first {
    margin: 0 10px 0 0;
}

/* Aposhnija naviny page styles */

.page-navinyhtml #region-content {
    margin: 0 0 0 10px;
    width: 720px;
}

.page-navinyhtml #region-sidebar-first {
    margin: 0 10px 0 0;
}

/* Narodnyja naviny page styles */

.page-narodnyjahtml #region-content {
    margin: 0 0 0 10px;
    width: 720px;
}

.page-narodnyjahtml #region-sidebar-first {
    margin: 0 10px 0 0;
}

/* Local problems page styles */

.page-problemshtml #region-content {
    margin: 0 0 0 10px;
    width: 720px;
}

.page-problemshtml #region-sidebar-first {
    margin: 0 10px 0 0;
}

/* Local solutions page styles */

.page-solutionshtml #region-content {
    margin: 0 0 0 10px;
    width: 720px;
}

.page-solutionshtml #region-sidebar-first {
    margin: 0 10px 0 0;
}
