/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
 
 #block-nice-menus-1, #block-nice-menus-2 , #block-views-front-block-2, #block-menu-menu-geografic, #block-menu-menu-small-genres, #block-menu-menu-system, #block-views-ads-block, #block-views-blocks-block-1, #block-views-banners-block-2, #block-bel-currency-bel-currency, #block-block-2, #block-block-3, #block-custom-search-blocks-1, #block-quicktabs-social-blocks-narrow {
	display: block;
}

#block-bel-currency-bel-currency, #block-menu-menu-mobile, #block-menu-menu-second-mobile-menu {
	display: none;
}
/*Text Styles Settings*/

body, .breadcrumb, .username, .views-field-view-comment.group-left, .views-label-name, .views-field-field-where{
	font-size: 10px;
}

h2, h2.block-title {
	font-size: 14px;
}

h3 {
	text-align: center;
	font-size: 12px;
	margin: 5px 0px;
}

.view-footer {
	font-size: 12px;
	margin-top: 10px;
}

#block-views-front-block-1 {
	font-size: 14px;
}

/*Standart Margin & Padding & Color Settings*/

	.block {
		padding: 10px;
		margin-bottom: 20px; 
	}

	.node-teaser {
		margin-bottom: 15px;
	}

	/*Weather Block Settings*/

	#block-block-2 {
		padding: 0px;
		margin: 5px;
	}

	/*Social Links & Search Blocks' Settings*/
	#block-logintoboggan-logintoboggan-logged-in, #block-nice-menus-3, #block-nice-menus-4, #block-block-3, #block-custom-search-blocks-1 {
		padding: 0px;
		margin: 0px;
	}
 
	/*Currency Block Settings*/

	#block-bel-currency-bel-currency {
		margin-right: 5px;
		padding: 2px;
	}

	/*Search Block Positioning*/

	#edit-actions, .form-item-custom-search-blocks-form-1 {
		margin: 0px 2px;
	}


/*Search Blocks Width Settings*/

#block-custom-search-blocks-1 {
	width: 200px;
	margin: 25px auto;
}

#edit-custom-search-blocks-form-1--2 {
	width: 150px;
}


/*Main Menu Style*/

	.main-menu {
		font-size: 18px;
	}

	.secondary-menu {
		font-size: 11px;
	}

	nav.navigation li a:hover, nav.navigation li a:active {
		padding-bottom: 5px;
		border-bottom: 3px solid #04202e;
	}

	ul.main-menu li {
		padding: 0 5px;
	}

	ul.secondary-menu li {
		padding: 0 5px;
	}	

/*Quicktabs Settings*/

#quicktabs-tab-social_blocks_narrow-0, #quicktabs-tab-social_blocks_narrow-1 {
	font-size: 14px; 
}

ul.quicktabs-tabs {
	width: 150px; 
	margin: 0 auto;
}

ul.quicktabs-tabs  li{
	margin: 20px;
}



