/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

nav, #block-nice-menus-1, #block-nice-menus-2 , #block-views-front-block-2, #block-menu-menu-geografic, #block-menu-menu-small-genres, #block-menu-menu-system, #block-views-ads-block, #block-views-blocks-block-1, #block-views-banners-block, #block-views-banners-block-1, #block-views-banners-block-2, #block-bel-currency-bel-currency, #block-block-2, #block-block-3, #block-quicktabs-social-blocks, #block-quicktabs-social-blocks-narrow, #block-quicktabs-social-blocks-normal, #block-custom-search-blocks-1, #block-nice-menus-4, #block-nice-menus-3 {
	display: none;
}

/*Initial Links & Text Settings*/

a, h1, h2, h3, h4, h5, h6, p {
	font-family: "Tahoma";
	font-style: normal;
	font-weight: normal;
	color: #04202e;
}

a:link, a:visited {
	color: #394a59;
}

a:hover {
	color: #d6492a;
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

h2.block-title {
	color: #8996a0;
	font-size: 14px; 
    text-align: right;
	padding-right: 10px;
	padding-bottom: 10px;
}

.view-footer {
	font-size: 14px;
	float: right;
	margin-top: 10px;
}

ul li.leaf {
	list-style-type: none;
	list-style-image: none;
}



/*Standart Margin & Padding & Color Settings*/

.zone-content {
	margin: 10px 0px;
}

.block {
	padding: 10px;
	background-color: #f3f3f3;
	margin: 5px 0px;
}

.node-teaser {
	margin-bottom: 10px;
}

/*Custom Margin & Padding & Color Settings*/

#block-views-logo-block {
	padding: 0px;
	background-color: #fff;
}
	/*Custom block's colors*/
	
	#section-footer {
	background-color: #04202e;
	}

	#zone-menu  {
		background-color: #e0e6e6;
	}

	#block-menu-menu-second-mobile-menu {
		font-size: 24px;
		background-color: #04202e;
		width: 320px;
		margin: 0 auto;
	}

	#block-menu-menu-mobile {
		background-color: #e0e6e6;
		font-size: 24px;
		width: 320px;
		margin: 0 auto;
	}
	
	.block-main {
	background-color: #fff;
	}
	
	#block-views-front-block-1 {
	background-color: #F7DEB6;
	font-size: 18px;
	}


/*Gallery Settings*/

.gallery-item {
	display: block;
	float: left;
	margin: 5px;
}



	
	
	
	


/* Сброс отображения пунктов меню



/*Отображение блока поиска
.form-item-custom-search-blocks-form-1, #edit-actions--2 {
	display: block;
	float: left;
	margin: 0px;
	padding: 0px;
}
*/

