/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

nav, #block-views-front-block-2, #block-menu-menu-geografic, #block-menu-menu-small-genres, #block-menu-menu-system, #block-views-ads-block, #block-views-blocks-block-1, #block-views-banners-block, #block-views-banners-block-1, #block-views-banners-block-2, #block-bel-currency-bel-currency, #block-block-2, #block-block-3, #block-quicktabs-social-blocks, #block-quicktabs-social-blocks-narrow, #block-quicktabs-social-blocks-normal, #block-custom-search-blocks-1, #block-nice-menus-3 {
	display: none;
}

ul li.leaf {
	list-style-type: none;
	list-style-image: none;
}

/*Initial Links & Text Settings*/

body, a {
	font-family: "Tahoma";
	font-style: normal;
	font-weight: normal;
	color: #04202e;
	font-size: 13px;
}

a:link, a:visited {
	color: #394a59;
}

a:hover, a:active {
	color: #d6492a;
	text-decoration: underline;
}

p {
	margin-bottom: 0.5em;
}

p::first-letter {
	margin-left: 1em;
}

h2, h2 a, div.node-ads div.field-item {
	font-family: "Tahoma";
	font-style: normal;
	font-weight: normal;
	color: #394a59;
	font-size: 28px;
	letter-spacing: 0.05ex;
	margin-bottom: 5px;
}

h2 a {
	margin-left: 10px;
}

h3 {
	font-family: "Tahoma";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: #394a59;
	letter-spacing: 0ex;
	margin: 5px 0px;
}	

li a.active {
	color: #d6492a;
}

label {
	color: #394a59;
}

/*Standart Margin & Padding & Color Settings*/

	.zone {
		margin-bottom: 10px;
	}

	.views-row {
		margin: 10px 0px;
	}

	.block {
		padding: 10px 0px;
	}

/*Mobile Menu's Elements*/

	ul.menu li {
		text-align: center;
	}
	
	ul.menu li  a {
		font-size: 24px;
	}
	


/*Block Titles*/	

	h2.block-title {
		color: #8996a0;
		font-size: 16px;
		font-variant: small-caps;
		text-align: right;
		padding-right: 10px;
		padding-bottom: 10px;
	}

/*Login Block*/	

	#block-nice-menus-4 {
		width: 195px;
		padding: 0px;
		margin: 0 auto;
	}
	
	ul#nice-menu-4 li {
		padding: 0px 15px; 
	}
	
/*Logo Block*/

	div.zone-branding {
		margin: 0px auto;
	}
	
	#block-views-logo-block {
		padding: 0px;
	}

/*Mobile Menu Block*/

	#zone-menu  {
		background-color: #e0e6e6;
	}

	#block-menu-menu-mobile {
		background-color: transparent;
		font-size: 24px;
	}
	

/*Main News Block*/

	section#block-views-front-block-1 div.content {
		padding: 5px 10px;
	}

	#block-views-front-block-1 {
		background-color: #F7DEB6;
		padding: 10px;
	}

	div.view-display-id-block_1 a {
		font-size: 28px;
		color: #04202e;
	}
	
	div.view-display-id-block_1 a:hover, div.view-display-id-block_1 a:active {
		color: #d6492a;
	}	
	
	div.view-footer a {
		font-size: 13px;
		float: right;
	}

	div.view-footer a:link, div.view-footer a:visited {
		text-decoration: underline;	
		color: #394a59;
	}
	
	div.view-footer a:hover, div.view-footer a:active {
		text-decoration: underline;
		color: #d6492a;
	}	

/*Node Settings*/

div.field-name-field-author {

}

div.field-name-post-date {
	font-size: 13px;
	color: #394a59;
}

div.group-footer ul, .node ul.inline {
	margin: 10px;
	float: right;
}	

div.field {
	margin: 10px 0px;
}

div.field-item{
	margin: 0px 2px;
}

	/*Node Ads Settings*/
	
	div.views-exposed-widgets {
		background-color: #f7deb6;
		padding: 10px 20px;
	}
	
	div.views-row div.node-ads {
		padding: 0px 10px;
	}
	
	div.views-row-odd div.node-ads {
		background-color: #f3f3f3;
	}

	/*Node Reference Settings*/
	
	div.field-type-node-reference, div.field-name-field-links {
		background-color: #f3f3f3;
		padding: 10px 20px;
	}


	/*Node Pictures Settings*/

	div.field-name-field-pics, div.field-name-field-gallery , div.media-youtube-outer-wrapper, div.field-name-field-movies {
		margin: 10px;
	}



	/*Gallery Settings*/

	div.field-name-field-gallery  img {
		display: block;
		float: left;
		margin: 5px 2px; 
	}
	
/*Social Widgets*/

div.field-name-service-links-displays-group {
	padding: 10px 0px;
	clear: both;
}

#___plusone_0 {
	width: 70px !important;
}
	
.twitter-share-button {
	width: 80px !important;
}


/*Comment Settings*/

#comments {
	background-color: #f3f3f3;
	margin: 10px;
	padding: 10px;
	clear: both;
}

div.comment {
	margin-left: 10px;
	margin-bottom: 10px;
}

div.field-name-comment-body {
	font-family: "Tahoma";
	font-style: normal;
	font-weight: normal;
	color: #04202e;
	font-size: 18px;
	letter-spacing: 0.05ex;
	margin-bottom: 5px;
}

div.form-item-subject, #edit-comment-body-und-0-format {
	display: none;
}

div.form-item {
	margin-left: 10px;
}

#edit-actions {
	margin: 10px;
}

/*Footer Menu Block*/	
	
	#block-menu-menu-second-mobile-menu {
		background-color: transparent;
	}

	#section-footer {
		background-color: #04202e;
	}
	
	div.field-label {
		margin-left: 10px;
		color: #394a59;
	}

	
/*
.view-footer {
	font-size: 14px;
	float: right;
	margin-top: 10px;
}

.field-label {
	color: #394a59;
}



/*
.zone-content {
	margin: 10px 0px;
}

.block {
}
.field {
	margin-bottom: 10px;
}

.node-teaser {
	margin-bottom: 10px;
}

.group-footer {
	margin-top: 10px;
}

/*Custom Margin & Padding & Color Settings*/
/*
#block-views-logo-block {
	padding: 0px;
	background-color: #fff;
}
	

	/*Custom block's colors*/
	
/*	
	
	.block-main {
	background-color: #fff;
	}
	







