/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/*nav, #block-views-front-block-2, #block-menu-menu-geografic, #block-menu-menu-small-genres, #block-menu-menu-system, #block-views-ads-block, #block-views-blocks-block-1, #block-bel-currency-bel-currency, #block-block-2, #block-block-3, #block-quicktabs-social-blocks-normal, #block-custom-search-blocks-1, #block-nice-menus-3, #block-menu-menu-old*/

#block-views-banners-block-1, #block-block-3, #block-block-14, #block-block-2, #block-bel-currency-bel-currency, #block-custom-search-blocks-1, nav, #block-views-photoblog-main-block, #block-views-videoblog-main-block, #block-block-17, #block-views-aposhnija-naviny-block, #block-views-blocks-block-1, #block-poll-recent, #quicktabs-social_blocks_normal, #block-menu-menu-old, #block-menu-menu-geografic, #block-menu-menu-system, #block-menu-menu-small-genres {
	display: none;
}

#zone-content, #zone-menu, #zone-branding, #zone-preface  {background-color: white; 
border-left: 1px dashed #edeeef;
border-right: 1px dashed #edeeef;
}

#zone-branding {padding-top:10px;}

#zone-content-wrapper {background-color:#ccc;}


ul li.leaf {
	list-style-type: none;
	list-style-image: none;
}

/*Initial Links & Text Settings*/

body, a {
	font-family: "Tahoma", sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #04202e;
	font-size: 13px;
}

a:link, a:visited {
	color: #394a59;
	text-decoration: none;
}

a:active {
	text-decoration: none;
	color: #d6492a;
}

 a:hover {
	color: #d6492a;
	text-decoration: underline;
}
p {
	margin-bottom: 0.5em;
}

p::first-letter {
}

.page-node .field-name-field-text {font-size: 15px;}

h2, h2 a, div.node-ads div.field-name-field-cost, div.field-name-field-related div.field-label {
	font-family: "Tahoma", sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #394a59;
	font-size: 28px;
	letter-spacing: 0.05ex;
	margin-bottom: 5px;
}

h3 {
	font-family: "Tahoma", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: #394a59;
	letter-spacing: 0ex;
	margin: 5px 0px;
}	

li a.active {
	color: #d6492a;
}

label {
	color: #394a59;
}

ul.links li.blog_usernames_blog {
	display: none;
}

/*Standart Margin & Padding & Color Settings*/

	.zone {
	}

	.views-row {
		margin: 10px 0px;
	}

	.block {
	}

/*Pager Style*/

.pager {
	background: none;
	border: none;
}

.item-list .pager {
	text-align: center;
}
.item-list .pager li, .item-list .pager ul li {
	float: none;
}

.pager li.pager-current {
	background: none;
	color: #394A59;
	text-decoration: underline;
	border: none;
}

.pager li {
	color: #394A59;
	border: none;
}

.pager li a {
	background: none;
	text-decoration: underline;
	color: #394A59;
}

.pager li a:hover {
	color: #D6492A;
}

.pager li.pager-next {
	border: none;
	position: static;
}

.pager li.pager-last {
	position: static;
}

.pager li.pager-first a, .pager li.pager-previous a, .pager li.pager-next a, .pager li.pager-last a {
	width: 100px;
	text-decoration: underline;
	font-weight: bold;
}

/*Login Menu Elements*/

/*Mobile Menu's Elements*/
/*
	ul.menu li {
		text-align: center;
	}
	
	ul.menu li  a {
		font-size: 24px;
	}
	
*/

/*Block Titles*/	

	h2.block-title {
		color: #8996a0;
		font-size: 16px;
		text-transform: uppercase;
		text-align: right;
		padding-right: 10px;
	}

/*Login Block*/	

	#block-block-15 a {
		display: block;
	}


/*Add News Block*/

	#block-block-14 a {
		display: block;
	}

/*Logo Block*/

	div.zone-branding {
		margin: 0px auto;
	}
	
	#block-views-logo-block {
		padding: 0px;
	}

/*Mobile Menu Block*/

	#zone-menu  {
		background-color: #e0e6e6;
	}

	#block-menu-menu-mobile {
		background-color: transparent;
		font-size: 24px;
	}
	

/*Main News Block*/

	section#block-views-front-block-1 div.content {
		padding: 5px 10px;
	}

	#block-views-front-block-1 {
border: 1px solid #c7cdd1;
box-shadow: 0 0 3px #939fa7;
border-radius: 3px;
padding: 9px;
	}

#block-views-front-block-1 .views-field-field-pics	{margin-top: 10px;}
#block-views-front-block-1 h2.block-title  {float: right; padding-left: 20px;}
	
.block-clone-of-clone-of-towns, .block-panels-mini-towns, .block-clone-of-towns {border-bottom: 1px solid #ccc;}
.block-clone-of-clone-of-towns .panel-col-first, .block-panels-mini-towns .panel-col-first, .block-clone-of-towns .panel-col-first {width: 38%;}
.block-clone-of-clone-of-towns .panel-col-last, .block-panels-mini-towns .panel-col-last, .block-clone-of-towns .panel-col-last {width: 58%;}

.block-clone-of-clone-of-towns .panel-col-last a, .block-panels-mini-towns .panel-col-last a, .block-clone-of-towns .panel-col-last a {font-size: 110%;}
	
	div.view-display-id-block_1 a:hover, div.view-display-id-block_1 a:active {
		color: #d6492a;
	}	
	
	div.view-footer a {
		font-size: 13px;
		float: right;
	}

	div.view-footer a:link, div.view-footer a:visited {
		text-decoration: underline;	
		color: #394a59;
	}
	
	div.view-footer a:hover, div.view-footer a:active {
		text-decoration: underline;
		color: #d6492a;
	}	

/*Node Settings*/

div#block-system-main {
	padding: 0 0 10px 0;
}

div.node div.field-name-title {
	margin: 0 0 10px 0;
}

div.node div.field-name-post-date {
	text-align: right;
	font-size: 10px;
}

div.field-name-news-from-readers {
	color: #D6492A;
}

div.field-name-post-date {
	font-size: 13px;
	color: #394a59;
}

.node ul.inline {
	margin: 10px;
}	

div.group-footer ul, .node-teaser ul.inline {
	margin: 10px;
	float: right;
}

div.field {
	margin: 10px 0px;
}

div.field-item{
	margin: 0px 2px;
}

ul.inline li.comment-new-comments {
	display: none;
}

/*Afisha Fields*/

div.node-afisha div.field-name-field-what,
div.node-afisha div.field-name-field-where,
div.node-afisha div.field-name-field-when {
	margin: 0;
	padding: 5px 20px;
	color: #394A59;
	background-color: #FFECAC;
}

div.node-afisha div.group-left div.field-name-field-what,
div.node-afisha div.group-left div.field-name-field-where,
div.node-afisha div.group-left div.field-name-field-when {
	padding: 0;
	margin: 10px;
	background-color: transparent;
}
	/*Forms Settings*/

	form#news-from-readers-node-form,
	form#ads-node-form {
		padding: 20px;
		background-color: #fdfdfd;
	}

	/*Node Ads Page Settings*/
	
	div.view-header, div.view-footer {
		margin: 10px;
		text-align: right;
	}
	
	div#block-system-main div.view-header a, div#block-system-main div.view-footer a {
		font-size: 14px;
		color: #D6492A;
	}


	div.views-exposed-widgets {
		background-color: #ffecac;
		padding: 10px 20px;
	}
	
	div.views-row div.node-ads {
		padding: 0px 10px;
	}
	
	div.views-row-odd div.node-ads {
		background-color: #f8f8f8;
	}

	div.views-row-even div.node-ads {
		background-color: #fdfdfd;
	}
	
	div.view-mode-full div.field-name-field-when,
	div.view-mode-full div.field-name-field-what,
	div.view-mode-full div.field-name-field-cost,
	div.view-mode-full div.field-name-field-where,
	div.view-mode-full div.field-name-field-phone-number {
		font-size: 16px;
		color: #394A59;
	}

	/*Node Reference Settings*/
	
	div.field-type-node-reference, div.field-name-field-links {
		background-color: #ffecac;
		padding: 10px;
	}

	/*Related content settings*/

	div.field-name-field-related {
		background-color: #ffecac;
	}

	/*Node Pictures Settings*/
	div.node-teaser div.field-name-field-gallery, div.node-teaser div.field-name-field-pics, div.node-teaser div.field-name-field-movies {
		margin: 10px 10px 10px 0;
	}

	div.media-youtube-outer-wrapper {
		margin: 10px 0px; 
	}

	/*Gallery Settings*/

	div.view-photoblog div.views-row {
		margin: 2px;
		float: left;
	}

	div.field-name-field-gallery  img {
		display: block;
		float: left;
		margin: 2px 2px; 
	}

	div.node-photo ul.inline {
		display: block;
		clear: both;
		margin: 0;
		padding: 5px;
	}

	div.view-photoblog div.views-field-title a {
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* IE 5.5+*/
		-moz-opacity: 1; /* Mozilla 1.6 и ниже */
		-khtml-opacity: 1; /* Konqueror 3.1, Safari 1.1 */
		opacity: 1; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
		color: #04202E;
	}
	/*Youtube video settings*/

/*Social Widgets*/

div.field-name-service-links-displays-group {
	padding: 10px 0px;
	clear: both;
}

#___plusone_0 {
	width: 70px !important;
}
	
.twitter-share-button {
	width: 80px !important;
}


/*Comment Settings*/

ul.links li.comment-add, ul.links li.comment-comments {
	display: none;
}


#comments {
	background-color: #f8f8f8;
	padding: 10px;
	clear: both;
}

div.comment {
	padding: 5px 10px;
	margin: 5px 0px;
	background-color: #fdfdfd;
	border-left: 5px solid #394A59;
}

div.field-name-comment-body {
	font-family: "Tahoma", sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #04202e;
	font-size: 18px;
	letter-spacing: 0.05ex;
	margin-bottom: 5px;
}

div.form-item-subject, #edit-comment-body-und-0-format {
	display: none;
}

#edit-actions {
	display: inline;
}

/*Postscript Block Settings*/

	#zone-postscript-wrapper {
		background-color: #04202e;
	}

	div#block-block-9 {
		background-color: #fdfdfd;
		padding: 5px 0 0 0;
	}

	div#block-block-9 p {
		font-size: 10px;
		color: #8996A0;
	}

/*Footer Menu Block*/	
	
	#block-menu-menu-second-mobile-menu {
		background-color: transparent;
	}

	#section-footer {
		/*background-color: #04202e;*/
	}


/*Webform Setiings*/

	article.node-webform footer.submitted {
		display: none;
	}


.zahalovak_navin a {font-weight:bold; font-size: 14px; padding-bottom: 5px;}
.region-header-first .block {padding: 0!important;}

.view-id-aposhnija_naviny h3 {
clear: both;
color: #939FA7;
display: block;
font: bold 14px/14px 'PT Sans',Arial,sans-serif;
margin-bottom: 6px;
}

.view-id-aposhnija_naviny .views-field-title a {font-weight: bold; font-size: 14px;}

.mc-recent-meta a{font-weight: bold;}

#main-menu {padding-top: 10px;border-top: 2px solid #671b1d; }
#secondary-menu {padding-bottom: 10px; border-bottom: 1px solid #939fa7;}
#block-block-14  a {font-size: 14px; background-color: #404040; color: white; padding: 5px 10px; margin: 15px 0;}
