/*
 * ==========================================================
 * Grid
 * ==========================================================
 */

.grid-1,
.grid-2,
.grid-3,
.grid-4 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 12px;
  margin-right: 12px;
}

.push-1,
.pull-1,
.push-2,
.pull-2,
.push-3,
.pull-3,
.push-4,
.pull-4 {
  position: relative;
}

/*
 * ==========================================================
 * Alpha - Omega
 * ==========================================================
 */

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/*
 * ==========================================================
 * Container
 * ==========================================================
 */

body {
  min-width: 1224px;
}

.container-4 {
  margin-left: auto;
  margin-right: auto;
  width: 1224px;
}

/*
 * ==========================================================
 * Columns
 * ==========================================================
 */

.container-4 .grid-1 {
  width: 282px;
}

.container-4 .grid-2 {
  width: 588px;
}

.container-4 .grid-3 {
  width: 894px;
}

.container-4 .grid-4 {
  width: 1200px;
}

/*
 * ==========================================================
 * Prefix
 * ==========================================================
 */

.container-4 .prefix-1 {
  padding-left: 306px;
}

.container-4 .prefix-2 {
  padding-left: 612px;
}

.container-4 .prefix-3 {
  padding-left: 918px;
}

/*
 * ==========================================================
 * Suffix
 * ==========================================================
 */

.container-4 .suffix-1 {
  padding-right: 306px;
}

.container-4 .suffix-2 {
  padding-right: 612px;
}

.container-4 .suffix-3 {
  padding-right: 918px;
}

/*
 * ==========================================================
 * Push
 * ==========================================================
 */

.container-4 .push-1 {
  left: 306px;
}

.container-4 .push-2 {
  left: 612px;
}

.container-4 .push-3 {
  left: 918px;
}

/*
 * ==========================================================
 * Pull
 * ==========================================================
 */

.container-4 .pull-1 {
  left: -306px;
}

.container-4 .pull-2 {
  left: -612px;
}

.container-4 .pull-3 {
  left: -918px;
}
